n8n-workflows/calendar-notifier.json
{
  "name": "Calendar Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "sched-1",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "mode": "list",
          "value": "primary",
          "__rl": true,
          "cachedResultName": "Primary Calendar"
        },
        "timeMin": "={{ new Date().toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 60 * 60 * 1000).toISOString() }}",
        "options": {
          "orderBy": "startTime",
          "singleEvents": true
        },
        "resource": "event",
        "returnAll": false,
        "limit": 50
      },
      "id": "gcal-1",
      "name": "Get Upcoming Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        464,
        304
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gpzlCfoO3Gbg5AZX",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.notifiedEventIds) staticData.notifiedEventIds = [];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const event = item.json;\n  const id = event.id;\n  if (!id || staticData.notifiedEventIds.includes(id)) continue;\n\n  const title = event.summary || '(no title)';\n  const tz = event.start?.timeZone || 'UTC';\n  let timeStr;\n  if (event.start?.dateTime) {\n    timeStr = new Intl.DateTimeFormat('en-US', {\n      hour: 'numeric', minute: '2-digit', hour12: true,\n      timeZone: tz, timeZoneName: 'short'\n    }).format(new Date(event.start.dateTime));\n  } else {\n    timeStr = 'all day';\n  }\n\n  results.push({\n    json: {\n      eventId: id,\n      message: `\ud83d\udcc5 Starting soon: **${title}** at ${timeStr}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-filter",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1481657700248191107"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "discord-send",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        304
      ],
      "webhookId": "804fb6a9-2cfa-47b2-8eda-774f948ef3ce",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.notifiedEventIds) staticData.notifiedEventIds = [];\nconst eventId = $json.eventId;\nif (eventId && !staticData.notifiedEventIds.includes(eventId)) {\n  staticData.notifiedEventIds.push(eventId);\n}\nreturn $input.all();"
      },
      "id": "code-save",
      "name": "Save Notified ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Upcoming Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Events": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Alert": {
      "main": [
        [
          {
            "node": "Save Notified ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}