n8n-workflows/email-monitor-ai.json
{
  "updatedAt": "2026-04-04T20:55:09.875Z",
  "createdAt": "2026-03-15T03:30:23.069Z",
  "id": "5c2b7cff-fda0-47c0-a27c-06493fa75526",
  "name": "Email Monitor AI",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "manual-trigger-node",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "imap-trigger-node",
      "credentials": {
        "imap": {
          "id": "5fd9edc4-f3fc-418a-80d9-07c81b67a521",
          "name": "Gmail IMAP"
        }
      },
      "disabled": false
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "gmail-trigger-node",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tfKyJaeALmrkFNaS",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "gmail-mark-read-node",
      "name": "Mark As Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        -240
      ],
      "webhookId": "dd23b3e5-c10f-409f-9ade-f8f8698b4c40",
      "credentials": {
        "gmailOAuth2": {
          "id": "tfKyJaeALmrkFNaS",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst subject = item.subject || item.Subject || '(no subject)';\nconst from    = item.from?.value?.[0]?.address || item.from || item.From || 'unknown';\nconst body    = item.text || item.snippet || item.body || '';\nconst date    = item.date || item.Date || new Date().toISOString();\nconst uid     = item.uid || item.id || item.messageId || '';\n\n// Parse date for display\nconst emailDate = new Date(date);\nconst timestamp = emailDate.toLocaleString('en-US', {\n  month: 'short', day: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nconst trimmedBody = body.substring(0, 2000);\n\n// Build chatInput with timestamp context\nconst chatInput = `Analyze this email:\n\nFrom: ${from}\nSubject: ${subject}\nDate: ${date}\n\nBody:\n${trimmedBody}`;\n\nreturn [{ json: { subject, from, body: trimmedBody, chatInput, timestamp, uid } }];"
      },
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "prepare-email-node"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an email triage assistant. Analyze the email and respond with ONLY valid JSON \u2014 no markdown, no explanation, no code blocks.\n\nStandard format (all categories except SHIPPED):\n{\"category\": \"URGENT|MEETING|FINANCE|SHIPPING|NEWSLETTER|SPAM|GENERAL\", \"summary\": \"one sentence max\", \"priority\": \"high|medium|low\"}\n\nSHIPPED format (use ONLY when an order has just been dispatched by a retailer):\n{\"category\": \"SHIPPED\", \"summary\": \"one sentence max\", \"priority\": \"medium\", \"item\": \"product name/description\", \"quantity\": \"number shipped\", \"tracking_number\": \"tracking ID or null\", \"order_number\": \"order ID or null\"}\n\nCategories:\n- URGENT: action required, deadlines, security alerts, password resets\n- MEETING: calendar invites, scheduling requests, appointment confirmations\n- FINANCE: receipts, invoices, orders, bank alerts, payment confirmations\n- SHIPPING: package tracking, delivery updates, carrier scan events (not the initial dispatch notification)\n- SHIPPED: initial \"your order has shipped\" notification from a retailer \u2014 extract item, quantity, tracking_number, order_number\n- NEWSLETTER: marketing, subscriptions, promotions, announcements\n- SPAM: unsolicited, phishing, junk, suspicious\n- GENERAL: everything else\n\nRespond with ONLY the JSON object."
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -16
      ],
      "id": "ai-agent-node"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        },
        "model": "llama3.2"
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "ollama-model-node",
      "credentials": {
        "ollamaApi": {
          "id": "dCTVfWIVTHlRhGsF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || $json.text || '{}';\nlet parsed = {};\n\n// Try to parse AI response\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  // On parse failure, default to GENERAL with note\n  parsed = {\n    category: 'GENERAL',\n    summary: '(AI parse failed) ' + raw.substring(0, 100),\n    priority: 'low',\n    parseError: true\n  };\n}\n\nconst validCategories = ['URGENT', 'MEETING', 'FINANCE', 'SHIPPING', 'SHIPPED', 'NEWSLETTER', 'SPAM', 'GENERAL'];\nconst category = validCategories.includes(parsed.category) ? parsed.category : 'GENERAL';\nconst skipCategories = ['NEWSLETTER'];\n\nif (skipCategories.includes(category)) return [];\n\n// Get context from Prepare Email Data node\nconst emailData = $('Prepare Email Data').first().json;\n\nreturn [{ json: {\n  from:            emailData.from || 'unknown',\n  subject:         emailData.subject || '',\n  timestamp:       emailData.timestamp || '',\n  uid:             emailData.uid || '',\n  category,\n  summary:         parsed.summary || '',\n  priority:        parsed.priority || 'low',\n  parseError:      parsed.parseError || false,\n  item:            parsed.item || null,\n  quantity:        parsed.quantity || null,\n  tracking_number: parsed.tracking_number || null,\n  order_number:    parsed.order_number || null\n}}];"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -16
      ],
      "id": "parse-ai-response-node"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.category }}",
        "rules": {
          "rules": [
            {
              "value2": "URGENT"
            },
            {
              "value2": "MEETING"
            },
            {
              "value2": "FINANCE"
            },
            {
              "value2": "SHIPPING"
            },
            {
              "value2": "SHIPPED"
            },
            {
              "value2": "SPAM"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "name": "Category Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        768,
        -80
      ],
      "id": "category-router-node"
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, priority, timestamp, parseError } = $json;\nconst priorityIcon = priority === 'high' ? '\ud83d\udd34' : priority === 'medium' ? '\ud83d\udfe1' : '\ud83d\udfe2';\nconst errorNote = parseError ? ' \u26a0\ufe0f *AI parse failed*' : '';\nreturn [{ json: { message: `\ud83d\udea8 **URGENT** ${priorityIcon} ${priority.toUpperCase()}${errorNote}\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format Urgent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -400
      ],
      "id": "format-urgent-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Urgent",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        -400
      ],
      "id": "discord-urgent-node",
      "webhookId": "df1ed892-dfa8-495c-b687-4d0e4888a08c",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, priority, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udcc5 **MEETING**\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format Meeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -240
      ],
      "id": "format-meeting-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Meeting",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        -240
      ],
      "id": "discord-meeting-node",
      "webhookId": "e1c66a6c-a05a-4fa8-be81-3a1c0be6e4d7",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udcb0 **FINANCE** \u2014 Transaction/Invoice\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format Finance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -80
      ],
      "id": "format-finance-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Finance",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        -80
      ],
      "id": "discord-finance-node",
      "webhookId": "5e47413e-7c30-4142-ada2-cefed3a70da2",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udce6 **SHIPPING** \u2014 Delivery Update\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format Shipping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        80
      ],
      "id": "format-shipping-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Shipping",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        80
      ],
      "id": "discord-shipping-node",
      "webhookId": "fc1d920c-cbfd-40c1-b5f9-8f2f856d7dee",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, item, quantity, tracking_number, order_number, timestamp } = $json;\nconst trackingLine = tracking_number ? `\\n**Tracking:** ${tracking_number}` : '';\nconst orderLine    = order_number    ? `\\n**Order #:** ${order_number}`    : '';\nconst qtyLine      = quantity        ? ` x${quantity}`                     : '';\nreturn [{ json: { message: `\ud83d\ude9a **SHIPPED** \u2014 Order Dispatched\n**From:** ${from}\n**Time:** ${timestamp}\n**Item:** ${item || 'unknown'}${qtyLine}${orderLine}${trackingLine}` } }];"
      },
      "name": "Format Shipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ],
      "id": "format-shipped-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Shipped",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        240
      ],
      "id": "discord-shipped-node",
      "webhookId": "6101e91f-8da5-4934-be91-73c151eab91f",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udeab **SPAM/ADS** \u2014 Flagged Email\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format Spam",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ],
      "id": "format-spam-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Spam",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        400
      ],
      "id": "discord-spam-node",
      "webhookId": "c97e3cbe-749d-44ae-855d-4a29be4e1dc1",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { from, subject, summary, category, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udce7 **${category}**\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
      },
      "name": "Format General",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        560
      ],
      "id": "format-general-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord General",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1264,
        560
      ],
      "id": "discord-general-node",
      "webhookId": "36db386b-8ce2-48ed-96e4-2c1c9d7a49c1",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.uid || $json.id || $json.messageId }}",
        "logic": "removeItemsWithAlreadySeenKeyValues"
      },
      "name": "Deduplicate Emails",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        80,
        -16
      ],
      "id": "dedupe-emails-node"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark As Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As Read": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Deduplicate Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Category Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category Router": {
      "main": [
        [
          {
            "node": "Format Urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Shipping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Shipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Urgent": {
      "main": [
        [
          {
            "node": "Discord Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Meeting": {
      "main": [
        [
          {
            "node": "Discord Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Finance": {
      "main": [
        [
          {
            "node": "Discord Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Shipping": {
      "main": [
        [
          {
            "node": "Discord Shipping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Shipped": {
      "main": [
        [
          {
            "node": "Discord Shipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Spam": {
      "main": [
        [
          {
            "node": "Discord Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format General": {
      "main": [
        [
          {
            "node": "Discord General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Emails": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "RkD096H7kDZmEGcP",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "776ed022-9441-4632-972f-30189a815900",
  "activeVersionId": "776ed022-9441-4632-972f-30189a815900",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T03:30:23.073Z",
      "createdAt": "2026-03-15T03:30:23.073Z",
      "role": "workflow:owner",
      "workflowId": "5c2b7cff-fda0-47c0-a27c-06493fa75526",
      "projectId": "2wMuHrOZ0KpAorzn"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-04T20:55:09.882Z",
    "createdAt": "2026-04-04T20:55:09.882Z",
    "versionId": "776ed022-9441-4632-972f-30189a815900",
    "workflowId": "5c2b7cff-fda0-47c0-a27c-06493fa75526",
    "nodes": [
      {
        "parameters": {},
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -80,
          208
        ],
        "id": "manual-trigger-node",
        "disabled": true
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "options": {
            "customEmailConfig": "[\"UNSEEN\"]"
          }
        },
        "name": "Email Trigger (IMAP)",
        "type": "n8n-nodes-base.emailReadImap",
        "typeVersion": 2.1,
        "position": [
          -80,
          -16
        ],
        "id": "imap-trigger-node",
        "credentials": {
          "imap": {
            "id": "5fd9edc4-f3fc-418a-80d9-07c81b67a521",
            "name": "Gmail IMAP"
          }
        },
        "disabled": false
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "readStatus": "unread"
          }
        },
        "id": "gmail-trigger-node",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -80,
          -240
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "tfKyJaeALmrkFNaS",
            "name": "Gmail account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $json.id }}"
        },
        "id": "gmail-mark-read-node",
        "name": "Mark As Read",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          160,
          -240
        ],
        "webhookId": "dd23b3e5-c10f-409f-9ade-f8f8698b4c40",
        "credentials": {
          "gmailOAuth2": {
            "id": "tfKyJaeALmrkFNaS",
            "name": "Gmail account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nconst subject = item.subject || item.Subject || '(no subject)';\nconst from    = item.from?.value?.[0]?.address || item.from || item.From || 'unknown';\nconst body    = item.text || item.snippet || item.body || '';\nconst date    = item.date || item.Date || new Date().toISOString();\nconst uid     = item.uid || item.id || item.messageId || '';\n\n// Parse date for display\nconst emailDate = new Date(date);\nconst timestamp = emailDate.toLocaleString('en-US', {\n  month: 'short', day: 'numeric',\n  hour: '2-digit', minute: '2-digit'\n});\n\nconst trimmedBody = body.substring(0, 2000);\n\n// Build chatInput with timestamp context\nconst chatInput = `Analyze this email:\n\nFrom: ${from}\nSubject: ${subject}\nDate: ${date}\n\nBody:\n${trimmedBody}`;\n\nreturn [{ json: { subject, from, body: trimmedBody, chatInput, timestamp, uid } }];"
        },
        "name": "Prepare Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          -16
        ],
        "id": "prepare-email-node"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "You are an email triage assistant. Analyze the email and respond with ONLY valid JSON \u2014 no markdown, no explanation, no code blocks.\n\nStandard format (all categories except SHIPPED):\n{\"category\": \"URGENT|MEETING|FINANCE|SHIPPING|NEWSLETTER|SPAM|GENERAL\", \"summary\": \"one sentence max\", \"priority\": \"high|medium|low\"}\n\nSHIPPED format (use ONLY when an order has just been dispatched by a retailer):\n{\"category\": \"SHIPPED\", \"summary\": \"one sentence max\", \"priority\": \"medium\", \"item\": \"product name/description\", \"quantity\": \"number shipped\", \"tracking_number\": \"tracking ID or null\", \"order_number\": \"order ID or null\"}\n\nCategories:\n- URGENT: action required, deadlines, security alerts, password resets\n- MEETING: calendar invites, scheduling requests, appointment confirmations\n- FINANCE: receipts, invoices, orders, bank alerts, payment confirmations\n- SHIPPING: package tracking, delivery updates, carrier scan events (not the initial dispatch notification)\n- SHIPPED: initial \"your order has shipped\" notification from a retailer \u2014 extract item, quantity, tracking_number, order_number\n- NEWSLETTER: marketing, subscriptions, promotions, announcements\n- SPAM: unsolicited, phishing, junk, suspicious\n- GENERAL: everything else\n\nRespond with ONLY the JSON object."
          }
        },
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          320,
          -16
        ],
        "id": "ai-agent-node"
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.1
          },
          "model": "llama3.2"
        },
        "name": "Ollama Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          320,
          176
        ],
        "id": "ollama-model-node",
        "credentials": {
          "ollamaApi": {
            "id": "dCTVfWIVTHlRhGsF",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json.output || $json.text || '{}';\nlet parsed = {};\n\n// Try to parse AI response\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  // On parse failure, default to GENERAL with note\n  parsed = {\n    category: 'GENERAL',\n    summary: '(AI parse failed) ' + raw.substring(0, 100),\n    priority: 'low',\n    parseError: true\n  };\n}\n\nconst validCategories = ['URGENT', 'MEETING', 'FINANCE', 'SHIPPING', 'SHIPPED', 'NEWSLETTER', 'SPAM', 'GENERAL'];\nconst category = validCategories.includes(parsed.category) ? parsed.category : 'GENERAL';\nconst skipCategories = ['NEWSLETTER'];\n\nif (skipCategories.includes(category)) return [];\n\n// Get context from Prepare Email Data node\nconst emailData = $('Prepare Email Data').first().json;\n\nreturn [{ json: {\n  from:            emailData.from || 'unknown',\n  subject:         emailData.subject || '',\n  timestamp:       emailData.timestamp || '',\n  uid:             emailData.uid || '',\n  category,\n  summary:         parsed.summary || '',\n  priority:        parsed.priority || 'low',\n  parseError:      parsed.parseError || false,\n  item:            parsed.item || null,\n  quantity:        parsed.quantity || null,\n  tracking_number: parsed.tracking_number || null,\n  order_number:    parsed.order_number || null\n}}];"
        },
        "name": "Parse AI Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          -16
        ],
        "id": "parse-ai-response-node"
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.category }}",
          "rules": {
            "rules": [
              {
                "value2": "URGENT"
              },
              {
                "value2": "MEETING"
              },
              {
                "value2": "FINANCE"
              },
              {
                "value2": "SHIPPING"
              },
              {
                "value2": "SHIPPED"
              },
              {
                "value2": "SPAM"
              }
            ]
          },
          "fallbackOutput": "extra"
        },
        "name": "Category Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 2,
        "position": [
          768,
          -80
        ],
        "id": "category-router-node"
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, priority, timestamp, parseError } = $json;\nconst priorityIcon = priority === 'high' ? '\ud83d\udd34' : priority === 'medium' ? '\ud83d\udfe1' : '\ud83d\udfe2';\nconst errorNote = parseError ? ' \u26a0\ufe0f *AI parse failed*' : '';\nreturn [{ json: { message: `\ud83d\udea8 **URGENT** ${priorityIcon} ${priority.toUpperCase()}${errorNote}\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format Urgent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -400
        ],
        "id": "format-urgent-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Urgent",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          -400
        ],
        "id": "discord-urgent-node",
        "webhookId": "df1ed892-dfa8-495c-b687-4d0e4888a08c",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, priority, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udcc5 **MEETING**\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format Meeting",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -240
        ],
        "id": "format-meeting-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Meeting",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          -240
        ],
        "id": "discord-meeting-node",
        "webhookId": "e1c66a6c-a05a-4fa8-be81-3a1c0be6e4d7",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udcb0 **FINANCE** \u2014 Transaction/Invoice\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format Finance",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -80
        ],
        "id": "format-finance-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Finance",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          -80
        ],
        "id": "discord-finance-node",
        "webhookId": "5e47413e-7c30-4142-ada2-cefed3a70da2",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udce6 **SHIPPING** \u2014 Delivery Update\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format Shipping",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          80
        ],
        "id": "format-shipping-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Shipping",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          80
        ],
        "id": "discord-shipping-node",
        "webhookId": "fc1d920c-cbfd-40c1-b5f9-8f2f856d7dee",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, item, quantity, tracking_number, order_number, timestamp } = $json;\nconst trackingLine = tracking_number ? `\\n**Tracking:** ${tracking_number}` : '';\nconst orderLine    = order_number    ? `\\n**Order #:** ${order_number}`    : '';\nconst qtyLine      = quantity        ? ` x${quantity}`                     : '';\nreturn [{ json: { message: `\ud83d\ude9a **SHIPPED** \u2014 Order Dispatched\n**From:** ${from}\n**Time:** ${timestamp}\n**Item:** ${item || 'unknown'}${qtyLine}${orderLine}${trackingLine}` } }];"
        },
        "name": "Format Shipped",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          240
        ],
        "id": "format-shipped-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Shipped",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          240
        ],
        "id": "discord-shipped-node",
        "webhookId": "6101e91f-8da5-4934-be91-73c151eab91f",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udeab **SPAM/ADS** \u2014 Flagged Email\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format Spam",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          400
        ],
        "id": "format-spam-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord Spam",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          400
        ],
        "id": "discord-spam-node",
        "webhookId": "c97e3cbe-749d-44ae-855d-4a29be4e1dc1",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { from, subject, summary, category, timestamp } = $json;\nreturn [{ json: { message: `\ud83d\udce7 **${category}**\n**From:** ${from}\n**Time:** ${timestamp}\n**Subject:** ${subject}\n**Summary:** ${summary}` } }];"
        },
        "name": "Format General",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          560
        ],
        "id": "format-general-node"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1471890072222830633"
          },
          "content": "={{ $json.message }}",
          "options": {}
        },
        "name": "Discord General",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1264,
          560
        ],
        "id": "discord-general-node",
        "webhookId": "36db386b-8ce2-48ed-96e4-2c1c9d7a49c1",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "operation": "removeItemsSeenInPreviousExecutions",
          "dedupeValue": "={{ $json.uid || $json.id || $json.messageId }}",
          "logic": "removeItemsWithAlreadySeenKeyValues"
        },
        "name": "Deduplicate Emails",
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          80,
          -16
        ],
        "id": "dedupe-emails-node"
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Mark As Read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark As Read": {
        "main": [
          [
            {
              "node": "Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Trigger (IMAP)": {
        "main": [
          [
            {
              "node": "Deduplicate Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Email Data": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Response": {
        "main": [
          [
            {
              "node": "Category Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Category Router": {
        "main": [
          [
            {
              "node": "Format Urgent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Meeting",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Finance",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Shipping",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Shipped",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Spam",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format General",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Urgent": {
        "main": [
          [
            {
              "node": "Discord Urgent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Meeting": {
        "main": [
          [
            {
              "node": "Discord Meeting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Finance": {
        "main": [
          [
            {
              "node": "Discord Finance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Shipping": {
        "main": [
          [
            {
              "node": "Discord Shipping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Shipped": {
        "main": [
          [
            {
              "node": "Discord Shipped",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Spam": {
        "main": [
          [
            {
              "node": "Discord Spam",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format General": {
        "main": [
          [
            {
              "node": "Discord General",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplicate Emails": {
        "main": [
          [
            {
              "node": "Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "monday bot",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}