n8n-workflows/email-monitor.json
{
  "name": "Email Monitor with AI Categorization",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        176
      ],
      "id": "manual-trigger-node"
    },
    {
      "parameters": {
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "imap-trigger-node",
      "credentials": {
        "imap": {
          "id": "5fd9edc4-f3fc-418a-80d9-07c81b67a521",
          "name": "Gmail IMAP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst subject = item.subject || item.Subject || '(no subject)';\nconst from    = item.from?.value?.[0]?.address || item.from || item.From || 'unknown';\nconst body    = item.text || item.snippet || item.body || '';\n\nreturn [{ json: { subject, from, body: body.substring(0, 2000) } }];"
      },
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "prepare-email-node"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -16
      ],
      "id": "ai-agent-node"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "ollama-model-node",
      "credentials": {
        "ollamaApi": {
          "id": "dCTVfWIVTHlRhGsF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json.output || $json.text || '';\nconst from = $json.from || 'unknown';\nconst subject = $json.subject || '';\n\nlet category = 'general';\nlet shouldNotify = true;\n\nconst lower = response.toLowerCase();\nif (lower.includes('spam') || lower.includes('promotional') || lower.includes('newsletter')) {\n  category = 'spam';\n  shouldNotify = false;\n} else if (lower.includes('urgent') || lower.includes('action required') || lower.includes('important')) {\n  category = 'urgent';\n} else if (lower.includes('meeting') || lower.includes('calendar') || lower.includes('invite')) {\n  category = 'meeting';\n} else if (lower.includes('receipt') || lower.includes('invoice') || lower.includes('order')) {\n  category = 'finance';\n}\n\nif (!shouldNotify) return [];\n\nconst summary = response.length > 500 ? response.substring(0, 500) + '...' : response;\nreturn [{ json: { ...$json, category, summary, shouldNotify } }];"
      },
      "name": "Process & Filter Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -16
      ],
      "id": "process-filter-node"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1471890072222830633"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "name": "Discord Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ],
      "id": "discord-notify-node",
      "webhookId": "c3f8b907-1633-4f88-8630-044fee30ab9f",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "gmail-trigger-node",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tfKyJaeALmrkFNaS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "id": "gmail-mark-read-node",
      "name": "Mark As Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        -240
      ],
      "webhookId": "dd23b3e5-c10f-409f-9ade-f8f8698b4c40",
      "credentials": {
        "gmailOAuth2": {
          "id": "tfKyJaeALmrkFNaS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Process & Filter Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Filter Response": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark As Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As Read": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}