n8n-workflows/error-handler-global.json
{"updatedAt":"2026-04-02T00:41:30.246Z","createdAt":"2026-04-02T00:41:30.246Z","id":"RkD096H7kDZmEGcP","name":"Global Error Handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"error-trigger-node","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"jsCode":"const error = $input.first().json;\nconst workflow = error.workflow || {};\nconst execution = error.execution || {};\n\nconst message = `🚨 **Workflow Error**\n**Workflow:** ${workflow.name || 'Unknown'}\n**Execution ID:** ${execution.id || 'Unknown'}\n**Node:** ${error.nodeName || 'Unknown'}\n**Error:** ${error.errorMessage || 'Unknown error'}\n**Time:** ${new Date().toISOString()}`;\n\nreturn [{ json: { message, workflowId: workflow.id, severity: 'high' } }];"},"id":"format-error-node","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"resource":"message","guildId":{"mode":"id","value":"1204113877139198042"},"channelId":{"mode":"id","value":"1481676006480810004"},"content":"={{ $json.message }}","options":{}},"id":"discord-alert-node","name":"Discord Alert","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,300],"credentials":{"discordBotApi":{"id":"ZDMFOE75AzwAAVO3","name":"Discord Bot account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Discord Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"93e904c6-841b-4b7e-903c-3643e496af4d","activeVersionId":"93e904c6-841b-4b7e-903c-3643e496af4d","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-04-02T00:41:30.250Z","createdAt":"2026-04-02T00:41:30.250Z","role":"workflow:owner","workflowId":"RkD096H7kDZmEGcP","projectId":"2wMuHrOZ0KpAorzn","project":{"updatedAt":"2026-03-15T01:06:51.004Z","createdAt":"2026-03-15T01:05:30.851Z","id":"2wMuHrOZ0KpAorzn","name":"monday bot <a3171998@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"dc157584-5741-4a40-a086-70a91678825f"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-02T00:41:30.255Z","createdAt":"2026-04-02T00:41:30.255Z","versionId":"93e904c6-841b-4b7e-903c-3643e496af4d","workflowId":"RkD096H7kDZmEGcP","nodes":[{"parameters":{},"id":"error-trigger-node","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"jsCode":"const error = $input.first().json;\nconst workflow = error.workflow || {};\nconst execution = error.execution || {};\n\nconst message = `🚨 **Workflow Error**\n**Workflow:** ${workflow.name || 'Unknown'}\n**Execution ID:** ${execution.id || 'Unknown'}\n**Node:** ${error.nodeName || 'Unknown'}\n**Error:** ${error.errorMessage || 'Unknown error'}\n**Time:** ${new Date().toISOString()}`;\n\nreturn [{ json: { message, workflowId: workflow.id, severity: 'high' } }];"},"id":"format-error-node","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"resource":"message","guildId":{"mode":"id","value":"1204113877139198042"},"channelId":{"mode":"id","value":"1481676006480810004"},"content":"={{ $json.message }}","options":{}},"id":"discord-alert-node","name":"Discord Alert","type":"n8n-nodes-base.discord","typeVersion":2,"position":[680,300],"credentials":{"discordBotApi":{"id":"ZDMFOE75AzwAAVO3","name":"Discord Bot account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Discord Alert","type":"main","index":0}]]}},"authors":"monday bot","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-02T00:41:30.309Z","id":172,"workflowId":"RkD096H7kDZmEGcP","versionId":"93e904c6-841b-4b7e-903c-3643e496af4d","event":"activated","userId":"dc157584-5741-4a40-a086-70a91678825f"}]}}