n8n-workflows/health-system.json
{
  "updatedAt": "2026-04-04T05:01:56.347Z",
  "createdAt": "2026-03-26T19:06:29.000Z",
  "id": "health-check-001",
  "name": "Health System",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        },
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        0
      ],
      "id": "hourly-schedule"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "name": "Daily Summary",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        200
      ],
      "id": "daily-schedule"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:11434/api/tags",
        "options": {
          "timeout": 5000,
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Check Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        0
      ],
      "id": "check-ollama",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/SPY?interval=1d&range=1d",
        "options": {
          "timeout": 10000,
          "headers": {
            "entries": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0"
              }
            ]
          },
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Check Yahoo Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        100
      ],
      "id": "check-yahoo",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {
          "timeout": 10000,
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Check CoinGecko",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        200
      ],
      "id": "check-coingecko",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ollama = $('Check Ollama').first().json;\nconst yahoo = $('Check Yahoo Finance').first().json;\nconst coingecko = $('Check CoinGecko').first().json;\n\nconst issues = [];\n\nif (ollama.error || !ollama.models) {\n  issues.push('\u274c Ollama: ' + (ollama.error || 'Not responding'));\n} else {\n  const modelCount = ollama.models?.length || 0;\n  issues.push('\u2705 Ollama: ' + modelCount + ' models');\n}\n\nif (yahoo.error || !yahoo.chart) {\n  issues.push('\u274c Yahoo Finance: ' + (yahoo.error || 'Not responding'));\n} else {\n  issues.push('\u2705 Yahoo Finance: OK');\n}\n\nif (coingecko.error || !coingecko.bitcoin) {\n  issues.push('\u274c CoinGecko: ' + (coingecko.error || 'Not responding'));\n} else {\n  issues.push('\u2705 CoinGecko: OK (BTC $' + coingecko.bitcoin.usd + ')');\n}\n\nconst hasIssues = issues.some(i => i.startsWith('\u274c'));\n// Check if this is a daily run - Daily Summary trigger only executes on daily schedule\nlet isDaily = false;\ntry {\n  isDaily = $('Daily Summary').first()?.json !== undefined;\n} catch (e) {\n  // Daily Summary node hasn't executed - this is an hourly run\n  isDaily = false;\n}\n\nreturn [{\n  json: {\n    issues,\n    hasIssues,\n    isDaily,\n    timestamp: new Date().toISOString(),\n    summary: hasIssues \n      ? '\ud83d\udea8 Health Check FAILED\\n' + issues.join('\\n')\n      : isDaily \n        ? '\u2705 All systems healthy\\n' + issues.join('\\n')\n        : null\n  }\n}];"
      },
      "name": "Analyze Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        100
      ],
      "id": "analyze-health"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "id": "has-issues"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1468408934904889572"
        },
        "content": "={{ $json.summary }}"
      },
      "name": "Alert Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "alert-discord",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.isDaily }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Is Daily?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        200
      ],
      "id": "is-daily"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1468408934904889572"
        },
        "content": "={{ '**Daily Health Summary**\\n\\n' + $json.issues.join('\\n') + '\\n\\nAll systems operational.' }}"
      },
      "name": "Daily Summary Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        200
      ],
      "id": "daily-alert",
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Check Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Summary": {
      "main": [
        [
          {
            "node": "Check Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ollama": {
      "main": [
        [
          {
            "node": "Check Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Yahoo Finance": {
      "main": [
        [
          {
            "node": "Check CoinGecko",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CoinGecko": {
      "main": [
        [
          {
            "node": "Analyze Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Health": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Alert Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Daily?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Daily?": {
      "main": [
        [
          {
            "node": "Daily Summary Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "RkD096H7kDZmEGcP"
  },
  "staticData": {
    "node:Hourly Schedule": {
      "recurrenceRules": []
    },
    "node:Daily Summary": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "c5c4efa9-fa83-4bd4-945d-0a6a664bc3f1",
  "activeVersionId": "c5c4efa9-fa83-4bd4-945d-0a6a664bc3f1",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-31T22:44:26.266Z",
      "createdAt": "2026-03-31T22:44:26.266Z",
      "role": "workflow:owner",
      "workflowId": "health-check-001",
      "projectId": "2wMuHrOZ0KpAorzn"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-02T00:47:41.406Z",
    "createdAt": "2026-04-02T00:47:41.406Z",
    "versionId": "c5c4efa9-fa83-4bd4-945d-0a6a664bc3f1",
    "workflowId": "health-check-001",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 * * * *"
              }
            ]
          },
          "options": {
            "timezone": "America/Los_Angeles"
          }
        },
        "name": "Hourly Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          0
        ],
        "id": "hourly-schedule"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          },
          "options": {
            "timezone": "America/Los_Angeles"
          }
        },
        "name": "Daily Summary",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          200
        ],
        "id": "daily-schedule"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "http://127.0.0.1:11434/api/tags",
          "options": {
            "timeout": 5000,
            "retry": {
              "retry": {
                "conditions": {
                  "error": [
                    {
                      "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                    }
                  ]
                },
                "waitBeforeRetry": 5000,
                "maxTries": 3
              }
            }
          }
        },
        "name": "Check Ollama",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -200,
          0
        ],
        "id": "check-ollama",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://query1.finance.yahoo.com/v8/finance/chart/SPY?interval=1d&range=1d",
          "options": {
            "timeout": 10000,
            "headers": {
              "entries": [
                {
                  "name": "User-Agent",
                  "value": "Mozilla/5.0"
                }
              ]
            },
            "retry": {
              "retry": {
                "conditions": {
                  "error": [
                    {
                      "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                    }
                  ]
                },
                "waitBeforeRetry": 5000,
                "maxTries": 3
              }
            }
          }
        },
        "name": "Check Yahoo Finance",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -200,
          100
        ],
        "id": "check-yahoo",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
          "options": {
            "timeout": 10000,
            "retry": {
              "retry": {
                "conditions": {
                  "error": [
                    {
                      "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                    }
                  ]
                },
                "waitBeforeRetry": 5000,
                "maxTries": 3
              }
            }
          }
        },
        "name": "Check CoinGecko",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -200,
          200
        ],
        "id": "check-coingecko",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const ollama = $('Check Ollama').first().json;\nconst yahoo = $('Check Yahoo Finance').first().json;\nconst coingecko = $('Check CoinGecko').first().json;\n\nconst issues = [];\n\nif (ollama.error || !ollama.models) {\n  issues.push('\u274c Ollama: ' + (ollama.error || 'Not responding'));\n} else {\n  const modelCount = ollama.models?.length || 0;\n  issues.push('\u2705 Ollama: ' + modelCount + ' models');\n}\n\nif (yahoo.error || !yahoo.chart) {\n  issues.push('\u274c Yahoo Finance: ' + (yahoo.error || 'Not responding'));\n} else {\n  issues.push('\u2705 Yahoo Finance: OK');\n}\n\nif (coingecko.error || !coingecko.bitcoin) {\n  issues.push('\u274c CoinGecko: ' + (coingecko.error || 'Not responding'));\n} else {\n  issues.push('\u2705 CoinGecko: OK (BTC $' + coingecko.bitcoin.usd + ')');\n}\n\nconst hasIssues = issues.some(i => i.startsWith('\u274c'));\n// Check if this is a daily run - Daily Summary trigger only executes on daily schedule\nlet isDaily = false;\ntry {\n  isDaily = $('Daily Summary').first()?.json !== undefined;\n} catch (e) {\n  // Daily Summary node hasn't executed - this is an hourly run\n  isDaily = false;\n}\n\nreturn [{\n  json: {\n    issues,\n    hasIssues,\n    isDaily,\n    timestamp: new Date().toISOString(),\n    summary: hasIssues \n      ? '\ud83d\udea8 Health Check FAILED\\n' + issues.join('\\n')\n      : isDaily \n        ? '\u2705 All systems healthy\\n' + issues.join('\\n')\n        : null\n  }\n}];"
        },
        "name": "Analyze Health",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          100
        ],
        "id": "analyze-health"
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.hasIssues }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        },
        "name": "Has Issues?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          200,
          100
        ],
        "id": "has-issues"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1468408934904889572"
          },
          "content": "={{ $json.summary }}"
        },
        "name": "Alert Discord",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          400,
          0
        ],
        "id": "alert-discord",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.isDaily }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        },
        "name": "Is Daily?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          400,
          200
        ],
        "id": "is-daily"
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1204113877139198042"
          },
          "channelId": {
            "mode": "id",
            "value": "1468408934904889572"
          },
          "content": "={{ '**Daily Health Summary**\\n\\n' + $json.issues.join('\\n') + '\\n\\nAll systems operational.' }}"
        },
        "name": "Daily Summary Alert",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          600,
          200
        ],
        "id": "daily-alert",
        "credentials": {
          "discordBotApi": {
            "id": "ZDMFOE75AzwAAVO3",
            "name": "Discord Bot account"
          }
        }
      }
    ],
    "connections": {
      "Hourly Schedule": {
        "main": [
          [
            {
              "node": "Check Ollama",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily Summary": {
        "main": [
          [
            {
              "node": "Check Ollama",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Ollama": {
        "main": [
          [
            {
              "node": "Check Yahoo Finance",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Yahoo Finance": {
        "main": [
          [
            {
              "node": "Check CoinGecko",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check CoinGecko": {
        "main": [
          [
            {
              "node": "Analyze Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Health": {
        "main": [
          [
            {
              "node": "Has Issues?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Issues?": {
        "main": [
          [
            {
              "node": "Alert Discord",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Daily?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Daily?": {
        "main": [
          [
            {
              "node": "Daily Summary Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "monday bot",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}