n8n-workflows/trading-quant-core.json
{
  "updatedAt": "2026-04-05T15:43:47.090Z",
  "createdAt": "2026-03-26T18:04:00.644Z",
  "id": "quant-analyst-core-001",
  "name": "Trading Quant Core",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "workflow-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Input from caller: positions, watchlist (stocks, crypto)\nconst input = $input.first().json;\n\nconst positions = input.positions || {};\nconst watchlistStocks = input.watchlist?.stocks || ['NVDA', 'MSFT', 'GOOGL', 'AAPL', 'VOO', 'META', 'AMZN'];\nconst watchlistCrypto = input.watchlist?.crypto || ['ethereum', 'solana'];\n\n// Combine positions with watchlist\nconst positionSymbols = Object.values(positions).map(p => p.symbol?.toUpperCase()).filter(Boolean);\nconst allStocks = [...new Set([...positionSymbols.filter(s => {\n  const pos = Object.values(positions).find(p => p.symbol?.toUpperCase() === s);\n  return pos?.asset_type === 'stock';\n}), ...watchlistStocks])];\nconst allCrypto = [...new Set([...positionSymbols.filter(s => {\n  const pos = Object.values(positions).find(p => p.symbol?.toUpperCase() === s);\n  return pos?.asset_type === 'crypto';\n}).map(s => s.toLowerCase()), ...watchlistCrypto])];\n\nreturn [{\n  json: {\n    positions,\n    stocks: allStocks,\n    crypto: allCrypto,\n    timestamp: new Date().toISOString(),\n    timeLabel: new Date().getHours() < 12 ? 'morning' : 'afternoon'\n  }\n}];"
      },
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "prepare-input"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.stocks.map(s => ({ json: { symbol: s } }));"
      },
      "name": "Split Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "id": "split-stocks"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://query1.finance.yahoo.com/v8/finance/chart/' + $json.symbol + '?interval=1d&range=3mo' }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "headers": {
            "entries": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0"
              }
            ]
          }
        }
      },
      "name": "Fetch Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        100
      ],
      "id": "fetch-stocks",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Parse Stocks with ALL technical indicators\nconst items = $input.all();\nconst symbols = $('Split Stocks').all();\nconst results = [];\n\n// Load optimized parameters\nlet optimizedParams = {\n  rsi_period: 14,\n  rsi_oversold: 30,\n  rsi_overbought: 70,\n  bb_std_dev: 2.0,\n  volume_threshold: 1.5,\n  macd_fast: 12,\n  macd_slow: 26,\n  macd_signal: 9\n};\n\ntry {\n  const paramsData = $input.first().json?.optimized_params;\n  if (paramsData) {\n    optimizedParams = { ...optimizedParams, ...paramsData };\n  }\n} catch (e) {}\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    if (items[i].json.error || items[i].json.code) {\n      console.log('API error for', symbols[i]?.json?.symbol, ':', items[i].json.message || 'Unknown error');\n      continue;\n    }\n    \n    const data = items[i].json.chart?.result?.[0];\n    const symbol = symbols[i]?.json?.symbol;\n    if (!data || !symbol) continue;\n    \n    const quote = data.indicators?.quote?.[0];\n    const closes = (quote?.close || []).filter(c => c != null);\n    const highs = (quote?.high || []).filter(h => h != null);\n    const lows = (quote?.low || []).filter(l => l != null);\n    const volumes = (quote?.volume || []).filter(v => v != null);\n    \n    if (closes.length < 30) {\n      console.log('Insufficient data for:', symbol);\n      continue;\n    }\n    \n    const price = closes[closes.length - 1];\n    const high30 = Math.max(...closes.slice(-30));\n    const low30 = Math.min(...closes.slice(-30));\n    \n    // RSI variants (7, 14, 21)\n    function calcRSI(prices, period) {\n      if (prices.length < period + 1) return 50;\n      let gains = 0, losses = 0;\n      for (let j = 1; j <= period; j++) {\n        const delta = prices[prices.length - j] - prices[prices.length - j - 1];\n        if (delta > 0) gains += delta;\n        else losses -= delta;\n      }\n      const rs = losses === 0 ? 100 : gains / losses;\n      return 100 - (100 / (1 + rs));\n    }\n    \n    const rsi7 = Math.round(calcRSI(closes, 7) * 10) / 10;\n    const rsi14 = Math.round(calcRSI(closes, 14) * 10) / 10;\n    const rsi21 = Math.round(calcRSI(closes, 21) * 10) / 10;\n    \n    // MACD (multiple settings)\n    function calcEMA(prices, period) {\n      const alpha = 2 / (period + 1);\n      let ema = prices.slice(0, period).reduce((a, b) => a + b, 0) / period;\n      for (let j = period; j < prices.length; j++) {\n        ema = prices[j] * alpha + ema * (1 - alpha);\n      }\n      return ema;\n    }\n    \n    const ema12 = calcEMA(closes, 12);\n    const ema26 = calcEMA(closes, 26);\n    const macdLine = ema12 - ema26;\n    \n    const macdSignal = calcEMA(closes.slice(-26).concat([ema12]).map((_, idx, arr) => {\n      if (idx < 12) return arr[idx];\n      return calcEMA(closes.slice(0, idx + 1), 12) - calcEMA(closes.slice(0, idx + 1), 26);\n    }), 9);\n    \n    const macdHist = macdLine - macdSignal;\n    \n    // MACD 8/21/5\n    const ema8 = calcEMA(closes, 8);\n    const ema21 = calcEMA(closes, 21);\n    const macdLine2 = ema8 - ema21;\n    const macdHist2 = macdLine2 - (macdLine2 * 0.8);\n    \n    // Moving Averages\n    const ma20 = closes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const ma50 = closes.slice(-50).reduce((a, b) => a + b, 0) / Math.min(closes.length, 50);\n    const ma200 = closes.length >= 200 ? closes.slice(-200).reduce((a, b) => a + b, 0) / 200 : price;\n    \n    // Bollinger Bands (multiple std devs)\n    function calcBB(prices, period, stdDev) {\n      const mid = prices.slice(-period).reduce((a, b) => a + b, 0) / period;\n      const variance = prices.slice(-period).reduce((a, b) => a + Math.pow(b - mid, 2), 0) / period;\n      const std = Math.sqrt(variance);\n      return { upper: mid + stdDev * std, lower: mid - stdDev * std, mid };\n    }\n    \n    const bb2 = calcBB(closes, 20, 2.0);\n    const bb15 = calcBB(closes, 20, 1.5);\n    const bb25 = calcBB(closes, 20, 2.5);\n    \n    // Volume analysis\n    const avgVolume = volumes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const currentVolume = volumes[volumes.length - 1] || 0;\n    const volumeRatio = avgVolume > 0 ? currentVolume / avgVolume : 1;\n    \n    // Stochastic Oscillator\n    function calcStoch(highs, lows, closes, kPeriod, dPeriod) {\n      const k = [];\n      for (let j = kPeriod - 1; j < closes.length; j++) {\n        const highest = Math.max(...highs.slice(j - kPeriod + 1, j + 1));\n        const lowest = Math.min(...lows.slice(j - kPeriod + 1, j + 1));\n        k.push(highest !== lowest ? 100 * (closes[j] - lowest) / (highest - lowest) : 50);\n      }\n      const kVal = k[k.length - 1];\n      const dVal = k.slice(-dPeriod).reduce((a, b) => a + b, 0) / Math.min(k.length, dPeriod);\n      return { k: kVal, d: dVal };\n    }\n    \n    const stoch = calcStoch(highs, lows, closes, 14, 3);\n    \n    // ATR (Average True Range)\n    function calcATR(highs, lows, closes, period) {\n      let tr = [];\n      for (let j = 1; j < closes.length; j++) {\n        tr.push(Math.max(\n          highs[j] - lows[j],\n          Math.abs(highs[j] - closes[j - 1]),\n          Math.abs(lows[j] - closes[j - 1])\n        ));\n      }\n      return tr.slice(-period).reduce((a, b) => a + b, 0) / period;\n    }\n    \n    const atr = calcATR(highs, lows, closes, 14);\n    \n    // ADX (Average Directional Index) - simplified\n    function calcADX(highs, lows, closes, period) {\n      let plusDM = 0, minusDM = 0, trSum = 0;\n      for (let j = 1; j <= period && j < closes.length; j++) {\n        const tr = Math.max(highs[j] - lows[j], Math.abs(highs[j] - closes[j-1]), Math.abs(lows[j] - closes[j-1]));\n        trSum += tr;\n        if (highs[j] - highs[j-1] > lows[j-1] - lows[j]) plusDM += Math.max(0, highs[j] - highs[j-1]);\n        if (lows[j-1] - lows[j] > highs[j] - highs[j-1]) minusDM += Math.max(0, lows[j-1] - lows[j]);\n      }\n      const plusDI = trSum > 0 ? 100 * plusDM / trSum : 0;\n      const minusDI = trSum > 0 ? 100 * minusDM / trSum : 0;\n      const dx = plusDI + minusDI > 0 ? 100 * Math.abs(plusDI - minusDI) / (plusDI + minusDI) : 0;\n      return dx;\n    }\n    \n    const adx = calcADX(highs, lows, closes, 14);\n    \n    // OBV (On-Balance Volume)\n    function calcOBV(closes, volumes) {\n      let obv = 0;\n      for (let j = 1; j < closes.length; j++) {\n        if (closes[j] > closes[j-1]) obv += volumes[j];\n        else if (closes[j] < closes[j-1]) obv -= volumes[j];\n      }\n      return obv;\n    }\n    \n    const obv = calcOBV(closes, volumes);\n    const obvSma = obv / closes.length;\n    const obvTrend = obv > obvSma ? 'bullish' : 'bearish';\n    \n    // Price changes\n    const weekChange = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const monthChange = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    // Momentum\n    const momentum5 = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const momentum10 = ((price - closes[closes.length - 10]) / closes[closes.length - 10] * 100);\n    const momentum21 = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    results.push({\n      json: {\n        type: 'stock',\n        symbol,\n        current_price: Math.round(price * 100) / 100,\n        high_30d: Math.round(high30 * 100) / 100,\n        low_30d: Math.round(low30 * 100) / 100,\n        \n        // RSI\n        rsi_7: rsi7,\n        rsi_14: rsi14,\n        rsi_21: rsi21,\n        \n        // MACD\n        macd_line: Math.round(macdLine * 100) / 100,\n        macd_signal: Math.round(macdSignal * 100) / 100,\n        macd_histogram: Math.round(macdHist * 100) / 100,\n        macd_8_21_line: Math.round(macdLine2 * 100) / 100,\n        macd_8_21_hist: Math.round(macdHist2 * 100) / 100,\n        \n        // Moving Averages\n        ma_20: Math.round(ma20 * 100) / 100,\n        ma_50: Math.round(ma50 * 100) / 100,\n        ma_200: Math.round(ma200 * 100) / 100,\n        \n        // Bollinger Bands\n        bb_upper: Math.round(bb2.upper * 100) / 100,\n        bb_lower: Math.round(bb2.lower * 100) / 100,\n        bb_middle: Math.round(bb2.mid * 100) / 100,\n        bb_upper_15: Math.round(bb15.upper * 100) / 100,\n        bb_lower_15: Math.round(bb15.lower * 100) / 100,\n        bb_upper_25: Math.round(bb25.upper * 100) / 100,\n        bb_lower_25: Math.round(bb25.lower * 100) / 100,\n        bb_width: Math.round((bb2.upper - bb2.lower) * 100) / 100,\n        bb_position: Math.round((price - bb2.lower) / (bb2.upper - bb2.lower) * 100),\n        \n        // Volume\n        avg_volume: Math.round(avgVolume),\n        volume_ratio: Math.round(volumeRatio * 100) / 100,\n        \n        // Stochastic\n        stoch_k: Math.round(stoch.k * 10) / 10,\n        stoch_d: Math.round(stoch.d * 10) / 10,\n        \n        // ATR & ADX\n        atr: Math.round(atr * 100) / 100,\n        adx: Math.round(adx * 10) / 10,\n        \n        // OBV\n        obv_trend: obvTrend,\n        \n        // Momentum\n        momentum_5: Math.round(momentum5 * 100) / 100,\n        momentum_10: Math.round(momentum10 * 100) / 100,\n        momentum_21: Math.round(momentum21 * 100) / 100,\n        \n        // Price changes\n        week_change_pct: Math.round(weekChange * 100) / 100,\n        month_change_pct: Math.round(monthChange * 100) / 100\n      }\n    });\n  } catch (e) {\n    console.error('Stock parse error:', e.message);\n  }\n}\n\nif (results.length === 0) {\n  results.push({ json: { type: 'none', symbol: 'ERROR', error: 'No stock data available' } });\n}\n\nreturn results;"
      },
      "name": "Parse Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ],
      "id": "parse-stocks"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.crypto.map(c => ({ json: { id: c } }));"
      },
      "name": "Split Crypto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "split-crypto"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.coingecko.com/api/v3/coins/' + $json.id + '/ohlc?vs_currency=usd&days=90' }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 2000
          },
          "headers": {
            "entries": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0"
              }
            ]
          }
        }
      },
      "name": "Fetch Crypto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ],
      "id": "fetch-crypto",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Real RSI, MACD, Bollinger Bands from OHLC data (matching stock calculations)\nconst items = $input.all();\nconst ids = $('Split Crypto').all();\nconst results = [];\n\nfunction calcRSI(prices, period) {\n  if (prices.length < period + 1) return 50;\n  let gains = 0, losses = 0;\n  for (let j = 1; j <= period; j++) {\n    const delta = prices[prices.length - j] - prices[prices.length - j - 1];\n    if (delta > 0) gains += delta;\n    else losses -= delta;\n  }\n  const rs = losses === 0 ? 100 : gains / losses;\n  return 100 - (100 / (1 + rs));\n}\n\nfunction calcEMA(prices, period) {\n  const alpha = 2 / (period + 1);\n  let ema = prices.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  for (let j = period; j < prices.length; j++) {\n    ema = prices[j] * alpha + ema * (1 - alpha);\n  }\n  return ema;\n}\n\nfunction calcBB(prices, period, stdDev) {\n  const mid = prices.slice(-period).reduce((a, b) => a + b, 0) / period;\n  const variance = prices.slice(-period).reduce((a, b) => a + Math.pow(b - mid, 2), 0) / period;\n  const std = Math.sqrt(variance);\n  return { upper: mid + stdDev * std, lower: mid - stdDev * std, mid };\n}\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const id = ids[i]?.json?.id;\n    const ohlc = items[i].json;\n    \n    if (!id || !Array.isArray(ohlc) || ohlc.length < 30) {\n      console.log('Insufficient OHLC data for:', id);\n      continue;\n    }\n    \n    // OHLC format: [timestamp, open, high, low, close]\n    const closes = ohlc.map(c => c[4]).filter(c => c != null);\n    const highs = ohlc.map(c => c[2]).filter(c => c != null);\n    const lows = ohlc.map(c => c[3]).filter(c => c != null);\n    \n    if (closes.length < 30) continue;\n    \n    const price = closes[closes.length - 1];\n    const high90 = Math.max(...closes.slice(-90));\n    const low90 = Math.min(...closes.slice(-90));\n    \n    // RSI variants\n    const rsi7 = Math.round(calcRSI(closes, 7) * 10) / 10;\n    const rsi14 = Math.round(calcRSI(closes, 14) * 10) / 10;\n    const rsi21 = Math.round(calcRSI(closes, 21) * 10) / 10;\n    \n    // MACD\n    const ema12 = calcEMA(closes, 12);\n    const ema26 = calcEMA(closes, 26);\n    const macdLine = ema12 - ema26;\n    const macdSignalVals = [];\n    for (let j = 9; j <= closes.length; j++) {\n      const slice = closes.slice(0, j);\n      const e12 = calcEMA(slice, 12);\n      const e26 = calcEMA(slice, 26);\n      macdSignalVals.push(e12 - e26);\n    }\n    const macdSignal = calcEMA(macdSignalVals, 9);\n    const macdHist = macdLine - macdSignal;\n    \n    // MACD 8/21/5\n    const ema8 = calcEMA(closes, 8);\n    const ema21 = calcEMA(closes, 21);\n    const macdLine2 = ema8 - ema21;\n    const macdHist2 = macdLine2 - (macdLine2 * 0.8);\n    \n    // Moving Averages\n    const ma20 = closes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const ma50 = closes.slice(-50).reduce((a, b) => a + b, 0) / Math.min(closes.length, 50);\n    const ma200 = closes.length >= 200 ? closes.slice(-200).reduce((a, b) => a + b, 0) / 200 : price;\n    \n    // Bollinger Bands\n    const bb2 = calcBB(closes, 20, 2.0);\n    const bb15 = calcBB(closes, 20, 1.5);\n    const bb25 = calcBB(closes, 20, 2.5);\n    const bbPosition = Math.round((price - bb2.lower) / (bb2.upper - bb2.lower) * 100);\n    \n    // Price changes\n    const weekChange = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const monthChange = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    const momentum21 = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    results.push({\n      json: {\n        type: 'crypto',\n        id,\n        symbol: id.toUpperCase(),\n        current_price: Math.round(price * 100) / 100,\n        high_90d: Math.round(high90 * 100) / 100,\n        low_90d: Math.round(low90 * 100) / 100,\n        \n        // RSI (same as stocks)\n        rsi_7: rsi7,\n        rsi_14: rsi14,\n        rsi_21: rsi21,\n        \n        // MACD (same as stocks)\n        macd_line: Math.round(macdLine * 100) / 100,\n        macd_signal: Math.round(macdSignal * 100) / 100,\n        macd_histogram: Math.round(macdHist * 100) / 100,\n        macd_8_21_line: Math.round(macdLine2 * 100) / 100,\n        macd_8_21_hist: Math.round(macdHist2 * 100) / 100,\n        \n        // Moving Averages\n        ma_20: Math.round(ma20 * 100) / 100,\n        ma_50: Math.round(ma50 * 100) / 100,\n        ma_200: Math.round(ma200 * 100) / 100,\n        \n        // Bollinger Bands\n        bb_upper: Math.round(bb2.upper * 100) / 100,\n        bb_lower: Math.round(bb2.lower * 100) / 100,\n        bb_middle: Math.round(bb2.mid * 100) / 100,\n        bb_upper_15: Math.round(bb15.upper * 100) / 100,\n        bb_lower_15: Math.round(bb15.lower * 100) / 100,\n        bb_upper_25: Math.round(bb25.upper * 100) / 100,\n        bb_lower_25: Math.round(bb25.lower * 100) / 100,\n        bb_position: bbPosition,\n        \n        // Price changes\n        week_change_pct: Math.round(weekChange * 100) / 100,\n        month_change_pct: Math.round(monthChange * 100) / 100,\n        momentum_21: Math.round(momentum21 * 100) / 100\n      }\n    });\n  } catch (e) {\n    console.error('Crypto parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { type: 'none', symbol: 'ERROR', error: 'No crypto data available' } }];"
      },
      "name": "Parse Crypto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "id": "parse-crypto"
    },
    {
      "parameters": {},
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        800,
        200
      ],
      "id": "merge-data"
    },
    {
      "parameters": {
        "jsCode": "const allData = $input.all();\nconst stocks = allData.filter(d => d.json.type === 'stock').map(d => d.json);\nconst crypto = allData.filter(d => d.json.type === 'crypto').map(d => d.json);\nconst positions = $('Prepare Input').first().json.positions;\nconst timestamp = $('Prepare Input').first().json.timestamp;\nconst timeLabel = $('Prepare Input').first().json.timeLabel;\n\n// Load optimized parameters from file\nlet optimizedParams = {\n  thresholds: {\n    rsi_oversold: 30,\n    rsi_overbought: 70,\n    volume_spike_multiplier: 1.5,\n    macd_histogram_threshold: 0.15\n  },\n  confidence_weights: {\n    rsi: 0.40,\n    macd: 0.20,\n    volume: 0.15,\n    momentum: 0.15,\n    bollinger: 0.10\n  },\n  risk_parameters: {\n    stop_loss_pct: 6.0,\n    take_profit_pct: 8.0,\n    trailing_stop_pct: 4.0\n  }\n};\n\ntry {\n  const patternsRaw = $input.first().binary?.data?.data;\n  if (patternsRaw) {\n    const patterns = JSON.parse(Buffer.from(patternsRaw, 'base64').toString('utf-8'));\n    if (patterns.threshold_adjustments) optimizedParams.thresholds = patterns.threshold_adjustments;\n    if (patterns.confidence_weights) optimizedParams.confidence_weights = patterns.confidence_weights;\n    if (patterns.risk_parameters) optimizedParams.risk_parameters = patterns.risk_parameters;\n  }\n} catch (e) {\n  console.log('Using default parameters');\n}\n\n// Build comprehensive context for AI\nconst lines = [];\nlines.push('=== MARKET DATA ===');\nlines.push('Timestamp: ' + timestamp);\nlines.push('Session: ' + timeLabel.toUpperCase());\nlines.push('');\nlines.push('=== OPTIMIZED PARAMETERS (Walk-Forward Validated) ===');\nlines.push('RSI Oversold: ' + optimizedParams.thresholds.rsi_oversold);\nlines.push('RSI Overbought: ' + optimizedParams.thresholds.rsi_overbought);\nlines.push('Volume Spike: ' + optimizedParams.thresholds.volume_spike_multiplier + 'x');\nlines.push('Stop Loss: ' + optimizedParams.risk_parameters.stop_loss_pct + '%');\nlines.push('Take Profit: ' + optimizedParams.risk_parameters.take_profit_pct + '%');\nlines.push('');\nlines.push('Confidence Weights:');\nlines.push('  RSI: ' + (optimizedParams.confidence_weights.rsi * 100) + '%');\nlines.push('  MACD: ' + (optimizedParams.confidence_weights.macd * 100) + '%');\nlines.push('  Bollinger: ' + (optimizedParams.confidence_weights.bollinger * 100) + '%');\nlines.push('  Momentum: ' + (optimizedParams.confidence_weights.momentum * 100) + '%');\nlines.push('  Volume: ' + (optimizedParams.confidence_weights.volume * 100) + '%');\nlines.push('');\n\nif (stocks.length > 0) {\n  lines.push('--- STOCKS ---');\n  for (const s of stocks) {\n    lines.push(s.symbol + ': $' + s.current_price);\n    lines.push('  RSI: 7=' + s.rsi_7 + ' | 14=' + s.rsi_14 + ' | 21=' + s.rsi_21);\n    lines.push('  MACD: ' + s.macd_line + ' (signal: ' + s.macd_signal + ', hist: ' + s.macd_histogram + ')');\n    lines.push('  MACD(8/21): ' + s.macd_8_21_line + ' (hist: ' + s.macd_8_21_hist + ')');\n    lines.push('  MA: 20d=' + s.ma_20 + ', 50d=' + s.ma_50 + ', 200d=' + s.ma_200);\n    lines.push('  BB: $' + s.bb_lower + ' - $' + s.bb_upper + ' (pos: ' + s.bb_position + '%)');\n    lines.push('  Stochastic: K=' + s.stoch_k + ', D=' + s.stoch_d);\n    lines.push('  ATR: ' + s.atr + ', ADX: ' + s.adx);\n    lines.push('  OBV: ' + s.obv_trend);\n    lines.push('  Momentum: 5d=' + s.momentum_5 + '%, 10d=' + s.momentum_10 + '%, 21d=' + s.momentum_21 + '%');\n    lines.push('  Volume: ' + s.volume_ratio + 'x avg');\n    lines.push('  7d: ' + (s.week_change_pct > 0 ? '+' : '') + s.week_change_pct + '%');\n    \n    // Signal hints\n    const hints = [];\n    if (s.rsi_14 < optimizedParams.thresholds.rsi_oversold) hints.push('RSI OVERSOLD');\n    if (s.rsi_14 > optimizedParams.thresholds.rsi_overbought) hints.push('RSI OVERBOUGHT');\n    if (s.volume_ratio > optimizedParams.thresholds.volume_spike_multiplier) hints.push('VOLUME SPIKE');\n    if (s.macd_histogram > optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BULLISH');\n    if (s.macd_histogram < -optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BEARISH');\n    if (s.current_price < s.bb_lower) hints.push('BELOW BB LOWER');\n    if (s.current_price > s.bb_upper) hints.push('ABOVE BB UPPER');\n    if (s.stoch_k < 20 && s.stoch_k > s.stoch_d) hints.push('STOCH BULLISH CROSS');\n    if (s.stoch_k > 80 && s.stoch_k < s.stoch_d) hints.push('STOCH BEARISH CROSS');\n    if (s.adx > 25) hints.push('STRONG TREND (ADX ' + s.adx + ')');\n    if (hints.length > 0) lines.push('  SIGNALS: ' + hints.join(', '));\n  }\n  lines.push('');\n}\n\nif (crypto.length > 0) {\n  lines.push('--- CRYPTO ---');\n  for (const c of crypto) {\n    lines.push(c.symbol + ': $' + c.current_price);\n    lines.push('  RSI: ' + c.rsi_14_approx + ' | 7d: ' + (c.week_change_pct > 0 ? '+' : '') + c.week_change_pct + '%');\n  }\n  lines.push('');\n}\n\nif (Object.keys(positions).length > 0) {\n  lines.push('--- POSITIONS ---');\n  for (const [id, pos] of Object.entries(positions)) {\n    lines.push(pos.symbol + ': Entry $' + pos.entry_price + ' | Stop $' + pos.stop_loss + ' | Target $' + pos.take_profit);\n  }\n  lines.push('');\n}\n\nreturn [{\n  json: {\n    timestamp,\n    timeLabel,\n    humanSummary: lines.join('\\n'),\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    analysisData: { stocks, crypto, positions, timestamp, time_label: timeLabel }\n  }\n}];"
      },
      "name": "Build Analysis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "id": "build-context"
    },
    {
      "parameters": {
        "filePath": "/home/ubuntu/.n8n-files/Trading/learning/patterns.json",
        "options": {
          "errorHandling": "continue"
        }
      },
      "name": "Load Patterns",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "id": "load-patterns"
    },
    {
      "parameters": {
        "jsCode": "// Build comprehensive context for AI with null checks and error handling\nconst allData = $input.all();\nconst stocks = allData.filter(d => d.json.type === 'stock' && !d.json.error).map(d => d.json);\nconst crypto = allData.filter(d => d.json.type === 'crypto' && !d.json.error).map(d => d.json);\nconst positions = $('Prepare Input').first().json.positions || {};\nconst timestamp = $('Prepare Input').first().json.timestamp;\nconst timeLabel = $('Prepare Input').first().json.timeLabel;\n\n// Log errors for failed fetches\nconst stockErrors = allData.filter(d => d.json.type === 'stock' && d.json.error);\nconst cryptoErrors = allData.filter(d => d.json.type === 'crypto' && d.json.error);\nif (stockErrors.length > 0) {\n  console.log('Stock fetch errors:', stockErrors.map(e => e.json.symbol + ': ' + (e.json.error || e.json.message)));\n}\nif (cryptoErrors.length > 0) {\n  console.log('Crypto fetch errors:', cryptoErrors.map(e => e.json.id + ': ' + (e.json.error || e.json.message)));\n}\n\n// Load optimized parameters from file with defaults\nlet optimizedParams = {\n  thresholds: {\n    rsi_oversold: 30,\n    rsi_overbought: 70,\n    volume_spike_multiplier: 1.5,\n    macd_histogram_threshold: 0.15\n  },\n  confidence_weights: {\n    rsi: 0.40,\n    macd: 0.20,\n    volume: 0.15,\n    momentum: 0.15,\n    bollinger: 0.10\n  },\n  risk_parameters: {\n    stop_loss_pct: 6.0,\n    take_profit_pct: 8.0,\n    trailing_stop_pct: 4.0\n  }\n};\n\ntry {\n  const patternsRaw = $('Load Patterns').first().binary?.data?.data;\n  if (patternsRaw) {\n    const patterns = JSON.parse(Buffer.from(patternsRaw, 'base64').toString('utf-8'));\n    if (patterns.threshold_adjustments) optimizedParams.thresholds = { ...optimizedParams.thresholds, ...patterns.threshold_adjustments };\n    if (patterns.confidence_weights) optimizedParams.confidence_weights = { ...optimizedParams.confidence_weights, ...patterns.confidence_weights };\n    if (patterns.risk_parameters) optimizedParams.risk_parameters = { ...optimizedParams.risk_parameters, ...patterns.risk_parameters };\n  }\n} catch (e) {\n  console.log('Using default parameters (file not found or invalid JSON)');\n}\n\n// Build comprehensive context for AI\nconst lines = [];\nlines.push('=== MARKET DATA ===');\nlines.push('Timestamp: ' + timestamp);\nlines.push('Session: ' + timeLabel.toUpperCase());\nlines.push('');\nlines.push('=== OPTIMIZED PARAMETERS (Walk-Forward Validated) ===');\nlines.push('RSI Oversold: ' + optimizedParams.thresholds.rsi_oversold);\nlines.push('RSI Overbought: ' + optimizedParams.thresholds.rsi_overbought);\nlines.push('Volume Spike: ' + optimizedParams.thresholds.volume_spike_multiplier + 'x');\nlines.push('Stop Loss: ' + optimizedParams.risk_parameters.stop_loss_pct + '%');\nlines.push('Take Profit: ' + optimizedParams.risk_parameters.take_profit_pct + '%');\nlines.push('');\nlines.push('Confidence Weights:');\nlines.push('  RSI: ' + (optimizedParams.confidence_weights.rsi * 100) + '%');\nlines.push('  MACD: ' + (optimizedParams.confidence_weights.macd * 100) + '%');\nlines.push('  Bollinger: ' + (optimizedParams.confidence_weights.bollinger * 100) + '%');\nlines.push('  Momentum: ' + (optimizedParams.confidence_weights.momentum * 100) + '%');\nlines.push('  Volume: ' + (optimizedParams.confidence_weights.volume * 100) + '%');\nlines.push('');\n\nif (stocks.length > 0) {\n  lines.push('--- STOCKS ---');\n  for (const s of stocks) {\n    lines.push(s.symbol + ': $' + s.current_price);\n    lines.push('  RSI: 7=' + s.rsi_7 + ' | 14=' + s.rsi_14 + ' | 21=' + s.rsi_21);\n    lines.push('  MACD: ' + s.macd_line + ' (signal: ' + s.macd_signal + ', hist: ' + s.macd_histogram + ')');\n    lines.push('  MACD(8/21): ' + s.macd_8_21_line + ' (hist: ' + s.macd_8_21_hist + ')');\n    lines.push('  MA: 20d=' + s.ma_20 + ', 50d=' + s.ma_50 + ', 200d=' + s.ma_200);\n    lines.push('  BB: $' + s.bb_lower + ' - $' + s.bb_upper + ' (pos: ' + s.bb_position + '%)');\n    lines.push('  Stochastic: K=' + s.stoch_k + ', D=' + s.stoch_d);\n    lines.push('  ATR: ' + s.atr + ', ADX: ' + s.adx);\n    lines.push('  OBV: ' + s.obv_trend);\n    lines.push('  Momentum: 5d=' + s.momentum_5 + '%, 10d=' + s.momentum_10 + '%, 21d=' + s.momentum_21 + '%');\n    lines.push('  Volume: ' + s.volume_ratio + 'x avg');\n    lines.push('  7d: ' + (s.week_change_pct > 0 ? '+' : '') + s.week_change_pct + '%');\n    \n    // Signal hints\n    const hints = [];\n    if (s.rsi_14 < optimizedParams.thresholds.rsi_oversold) hints.push('RSI OVERSOLD');\n    if (s.rsi_14 > optimizedParams.thresholds.rsi_overbought) hints.push('RSI OVERBOUGHT');\n    if (s.volume_ratio > optimizedParams.thresholds.volume_spike_multiplier) hints.push('VOLUME SPIKE');\n    if (s.macd_histogram > optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BULLISH');\n    if (s.macd_histogram < -optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BEARISH');\n    if (s.current_price < s.bb_lower) hints.push('BELOW BB LOWER');\n    if (s.current_price > s.bb_upper) hints.push('ABOVE BB UPPER');\n    if (s.stoch_k < 20 && s.stoch_k > s.stoch_d) hints.push('STOCH BULLISH CROSS');\n    if (s.stoch_k > 80 && s.stoch_k < s.stoch_d) hints.push('STOCH BEARISH CROSS');\n    if (s.adx > 25) hints.push('STRONG TREND (ADX ' + s.adx + ')');\n    if (hints.length > 0) lines.push('  SIGNALS: ' + hints.join(', '));\n  }\n  lines.push('');\n} else {\n  lines.push('--- STOCKS ---');\n  lines.push('\u26a0\ufe0f No stock data available (API may have failed)');\n  lines.push('');\n}\n\nif (crypto.length > 0) {\n  lines.push('--- CRYPTO ---');\n  for (const c of crypto) {\n    lines.push(c.symbol + ': $' + c.current_price);\n    lines.push('  RSI: 7=' + c.rsi_7 + ' | 14=' + c.rsi_14 + ' | 21=' + c.rsi_21);\n    lines.push('  MACD: ' + c.macd_line + ' (hist: ' + c.macd_histogram + ')');\n    lines.push('  BB: $' + c.bb_lower + ' - $' + c.bb_upper + ' (pos: ' + c.bb_position + '%)');\n    lines.push('  7d: ' + (c.week_change_pct > 0 ? '+' : '') + c.week_change_pct + '%');\n  }\n  lines.push('');\n} else {\n  lines.push('--- CRYPTO ---');\n  lines.push('\u26a0\ufe0f No crypto data available (API may have failed)');\n  lines.push('');\n}\n\nif (Object.keys(positions).length > 0) {\n  lines.push('--- POSITIONS ---');\n  for (const [id, pos] of Object.entries(positions)) {\n    lines.push(pos.symbol + ': Entry $' + pos.entry_price + ' | Stop $' + pos.stop_loss + ' | Target $' + pos.take_profit);\n  }\n  lines.push('');\n}\n\nreturn [{\n  json: {\n    timestamp,\n    timeLabel,\n    humanSummary: lines.join('\\n'),\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    analysisData: { stocks, crypto, positions, timestamp, time_label: timeLabel },\n    hasData: stocks.length > 0 || crypto.length > 0\n  }\n}];"
      },
      "name": "Build Analysis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "id": "build-context"
    },
    {
      "parameters": {
        "jsCode": "// Prepare ML input or skip if no data\nconst contextData = $('Build Analysis Context').first().json;\nconst stocks = contextData.stocks || [];\n\nif (stocks.length === 0) {\n  return [{\n    json: {\n      ...contextData,\n      skipML: true,\n      mlInput: null\n    }\n  }];\n}\n\n// Prepare data for analysis (passed directly in JSON, no temp file)\nconst mlInput = {\n  timestamp: contextData.timestamp,\n  symbols: stocks.map(s => ({\n    symbol: s.symbol,\n    rsi_7: s.rsi_7,\n    rsi_14: s.rsi_14,\n    rsi_21: s.rsi_21,\n    macd_line: s.macd_line,\n    macd_signal: s.macd_signal,\n    macd_histogram: s.macd_histogram,\n    bb_position: s.bb_position,\n    volume_ratio: s.volume_ratio,\n    stoch_k: s.stoch_k,\n    stoch_d: s.stoch_d,\n    adx: s.adx,\n    momentum_21: s.momentum_21,\n    current_price: s.current_price\n  }))\n};\n\nreturn [{\n  json: {\n    ...contextData,\n    mlInput: mlInput\n  }\n}];"
      },
      "name": "Prepare ML Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        100
      ],
      "id": "prepare-ml"
    },
    {
      "parameters": {
        "jsCode": "// ML Classifier placeholder - using built-in scoring instead\nconst input = $input.first().json;\nreturn [input];"
      },
      "name": "ML Classifier (Disabled)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        100
      ],
      "id": "ml-classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.humanSummary }}",
        "options": {
          "systemMessage": "You are a quantitative analyst with ML-enhanced signals. Analyze the market data and generate signals.\n\nFor each asset, provide:\n1. Signal: BUY / SELL / HOLD\n2. Confidence: 1-100\n3. Reasoning: Brief explanation\n4. Key levels: Entry/exit points\n\nUse the OPTIMIZED THRESHOLDS provided:\n- RSI below learned oversold: BUY\n- RSI above learned overbought: SELL\n- MACD crossover: BUY/SELL\n- Price near BB bands: Reversal signals\n- Volume spike: Confidence boost\n- Stochastic crosses: Entry/exit timing\n- ADX > 25: Strong trend confirmation\n\nConsider ML classifier output if available.\n\nOutput ONLY valid JSON:\n{\n  \"market_overview\": \"2-3 sentence summary\",\n  \"signals\": [{\n    \"symbol\": \"NVDA\",\n    \"action\": \"buy|sell|hold\",\n    \"confidence\": 75,\n    \"reason\": \"RSI oversold + MACD bullish + volume spike\",\n    \"urgency\": \"low|medium|high|critical\",\n    \"key_levels\": {\"entry\": 178, \"stop\": 170, \"target\": 195},\n    \"tech_indicators\": [\"RSI oversold\", \"MACD bull cross\", \"Volume 2.1x\"]\n  }],\n  \"recommendations\": \"Actionable advice\",\n  \"risk_assessment\": \"Risk notes\"\n}"
        }
      },
      "name": "AI Quant Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1400,
        300
      ],
      "id": "ai-analysis"
    },
    {
      "parameters": {
        "model": "glm-5:cloud",
        "options": {
          "temperature": 0.25
        }
      },
      "name": "GLM-5 Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1400,
        450
      ],
      "id": "glm-model",
      "credentials": {
        "ollamaApi": {
          "id": "dCTVfWIVTHlRhGsF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate confidence purely from technical indicators (no AI base score)\nconst input = $input.first().json;\nconst analysisText = input.output || input.text || '';\nconst contextData = $('Build Analysis Context').first().json;\nconst optimizedParams = contextData.optimizedParams;\nconst stocks = contextData.stocks || [];\nconst crypto = contextData.crypto || [];\nconst positions = contextData.positions || {};\nconst timestamp = contextData.timestamp;\n\n// Parse AI output for signals only (ignore AI confidence)\nlet aiOutput = { market_overview: '', signals: [], recommendations: '', risk_assessment: '' };\ntry {\n  const jsonMatch = analysisText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    aiOutput = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  aiOutput.market_overview = analysisText.substring(0, 200);\n}\n\n// Calculate confidence from technical indicators ONLY\nfunction calcConfidence(data, action, thresholds) {\n  let confidence = 50; // Start neutral\n  let reasons = [];\n  \n  if (!data) return { confidence: 50, reasons: ['No data'] };\n  \n  const rsi = data.rsi_14 || 50;\n  \n  // RSI extremes (+20) or moderate (+10)\n  if (action === 'buy') {\n    if (rsi < 25) {\n      confidence += 20;\n      reasons.push('RSI extremely oversold (<25)');\n    } else if (rsi < thresholds.rsi_oversold) {\n      confidence += 10;\n      reasons.push('RSI oversold');\n    }\n  } else if (action === 'sell') {\n    if (rsi > 75) {\n      confidence += 20;\n      reasons.push('RSI extremely overbought (>75)');\n    } else if (rsi > thresholds.rsi_overbought) {\n      confidence += 10;\n      reasons.push('RSI overbought');\n    }\n  }\n  \n  // MACD crossover confirmed (+15)\n  const macdHist = data.macd_histogram || 0;\n  if (action === 'buy' && macdHist > thresholds.macd_histogram_threshold) {\n    confidence += 15;\n    reasons.push('MACD strongly bullish');\n  } else if (action === 'sell' && macdHist < -thresholds.macd_histogram_threshold) {\n    confidence += 15;\n    reasons.push('MACD strongly bearish');\n  } else if ((action === 'buy' && macdHist > 0) || (action === 'sell' && macdHist < 0)) {\n    confidence += 8;\n    reasons.push('MACD confirmed');\n  }\n  \n  // Volume spike (+12)\n  if (data.volume_ratio && data.volume_ratio > thresholds.volume_spike_multiplier) {\n    confidence += 12;\n    reasons.push(`Volume spike (${data.volume_ratio}x)`);\n  }\n  \n  // Bollinger band touch + reversal (+10)\n  const bbPos = data.bb_position || 50;\n  if (action === 'buy' && bbPos < 10) {\n    confidence += 10;\n    reasons.push('Price at BB lower band');\n  } else if (action === 'sell' && bbPos > 90) {\n    confidence += 10;\n    reasons.push('Price at BB upper band');\n  }\n  \n  // ADX strong trend (+8)\n  if (data.adx && data.adx > 25) {\n    confidence += 8;\n    reasons.push(`Strong trend (ADX ${data.adx})`);\n  }\n  \n  // Multiple timeframe agreement (+15)\n  const rsi7 = data.rsi_7 || 50;\n  const rsi21 = data.rsi_21 || 50;\n  if (action === 'buy' && rsi7 < rsi && rsi < rsi21 && rsi21 < thresholds.rsi_oversold) {\n    confidence += 15;\n    reasons.push('Multi-timeframe RSI alignment');\n  } else if (action === 'sell' && rsi7 > rsi && rsi > rsi21 && rsi21 > thresholds.rsi_overbought) {\n    confidence += 15;\n    reasons.push('Multi-timeframe RSI alignment');\n  }\n  \n  // Subtract for conflicting signals (-10)\n  const conflicts = [];\n  if (action === 'buy') {\n    if (macdHist < -0.1) conflicts.push('MACD bearish');\n    if (bbPos > 70) conflicts.push('Near BB upper');\n  } else if (action === 'sell') {\n    if (macdHist > 0.1) conflicts.push('MACD bullish');\n    if (bbPos < 30) conflicts.push('Near BB lower');\n  }\n  \n  if (conflicts.length > 0) {\n    confidence -= 10 * conflicts.length;\n    reasons.push(`Conflicting: ${conflicts.join(', ')}`);\n  }\n  \n  // Cap at 5-95 range\n  confidence = Math.max(5, Math.min(95, confidence));\n  \n  return { confidence: Math.round(confidence), reasons };\n}\n\n// Process signals\nconst signals = [];\n\nfor (const sig of (aiOutput.signals || [])) {\n  const stockData = stocks.find(s => s.symbol === sig.symbol);\n  const cryptoData = crypto.find(c => c.symbol === sig.symbol || c.id === sig.symbol?.toLowerCase());\n  const data = stockData || cryptoData;\n  \n  const { confidence, reasons } = calcConfidence(data, sig.action, optimizedParams.thresholds);\n  \n  signals.push({\n    ...sig,\n    confidence,\n    tech_reasons: reasons,\n    price: data?.current_price\n  });\n}\n\n// Position alerts (keep existing logic)\nfor (const [id, pos] of Object.entries(positions)) {\n  const stockData = stocks.find(s => s.symbol?.toLowerCase() === pos.symbol?.toLowerCase());\n  const cryptoData = crypto.find(c => c.id?.toLowerCase() === pos.symbol?.toLowerCase());\n  const data = stockData || cryptoData;\n  \n  if (!data) continue;\n  \n  const price = data.current_price;\n  const stopDist = (price - pos.stop_loss) / pos.stop_loss * 100;\n  const targetDist = (pos.take_profit - price) / price * 100;\n  \n  if (stopDist < 3) {\n    signals.push({\n      symbol: pos.symbol,\n      action: 'sell',\n      confidence: Math.min(95, 90 + Math.round((3 - stopDist) * 3)),\n      reason: `Position near stop loss (${stopDist.toFixed(1)}% away)`,\n      urgency: 'critical',\n      tech_reasons: ['Stop loss proximity'],\n      position_id: id,\n      price\n    });\n  }\n  \n  if (targetDist < 5) {\n    signals.push({\n      symbol: pos.symbol,\n      action: 'sell',\n      confidence: Math.min(95, 70 + Math.round((5 - targetDist) * 2)),\n      reason: `Position near target (${targetDist.toFixed(1)}% away)`,\n      urgency: 'high',\n      tech_reasons: ['Take profit proximity'],\n      position_id: id,\n      price\n    });\n  }\n}\n\nsignals.sort((a, b) => b.confidence - a.confidence);\n\nreturn [{\n  json: {\n    timestamp,\n    market_overview: aiOutput.market_overview,\n    signals,\n    recommendations: aiOutput.recommendations,\n    risk_assessment: aiOutput.risk_assessment,\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    confidenceDistribution: {\n      min: signals.length ? Math.min(...signals.map(s => s.confidence)) : 0,\n      max: signals.length ? Math.max(...signals.map(s => s.confidence)) : 0,\n      avg: signals.length ? Math.round(signals.reduce((a, b) => a + b.confidence, 0) / signals.length) : 0\n    }\n  }\n}];"
      },
      "name": "Process & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ],
      "id": "process-score"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Split Stocks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Stocks": {
      "main": [
        [
          {
            "node": "Fetch Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stocks": {
      "main": [
        [
          {
            "node": "Parse Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stocks": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Crypto": {
      "main": [
        [
          {
            "node": "Fetch Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto": {
      "main": [
        [
          {
            "node": "Parse Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Crypto": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Analysis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analysis Context": {
      "main": [
        [
          {
            "node": "Load Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Patterns": {
      "main": [
        [
          {
            "node": "Prepare ML Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Quant Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ML Input": {
      "main": [
        [
          {
            "node": "AI Quant Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Quant Analysis": {
      "main": [
        [
          {
            "node": "Process & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-5 Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Quant Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "RkD096H7kDZmEGcP"
  },
  "staticData": {},
  "meta": null,
  "pinData": {},
  "versionId": "232db6ea-a7f9-45ef-a1d8-9629751f55ab",
  "activeVersionId": "232db6ea-a7f9-45ef-a1d8-9629751f55ab",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T17:45:24.813Z",
      "createdAt": "2026-03-25T17:45:24.813Z",
      "role": "workflow:owner",
      "workflowId": "quant-analyst-core-001",
      "projectId": "2wMuHrOZ0KpAorzn"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-05T15:43:47.094Z",
    "createdAt": "2026-04-05T15:43:47.094Z",
    "versionId": "232db6ea-a7f9-45ef-a1d8-9629751f55ab",
    "workflowId": "quant-analyst-core-001",
    "nodes": [
      {
        "parameters": {},
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -200,
          200
        ],
        "id": "workflow-trigger"
      },
      {
        "parameters": {
          "jsCode": "// Input from caller: positions, watchlist (stocks, crypto)\nconst input = $input.first().json;\n\nconst positions = input.positions || {};\nconst watchlistStocks = input.watchlist?.stocks || ['NVDA', 'MSFT', 'GOOGL', 'AAPL', 'VOO', 'META', 'AMZN'];\nconst watchlistCrypto = input.watchlist?.crypto || ['ethereum', 'solana'];\n\n// Combine positions with watchlist\nconst positionSymbols = Object.values(positions).map(p => p.symbol?.toUpperCase()).filter(Boolean);\nconst allStocks = [...new Set([...positionSymbols.filter(s => {\n  const pos = Object.values(positions).find(p => p.symbol?.toUpperCase() === s);\n  return pos?.asset_type === 'stock';\n}), ...watchlistStocks])];\nconst allCrypto = [...new Set([...positionSymbols.filter(s => {\n  const pos = Object.values(positions).find(p => p.symbol?.toUpperCase() === s);\n  return pos?.asset_type === 'crypto';\n}).map(s => s.toLowerCase()), ...watchlistCrypto])];\n\nreturn [{\n  json: {\n    positions,\n    stocks: allStocks,\n    crypto: allCrypto,\n    timestamp: new Date().toISOString(),\n    timeLabel: new Date().getHours() < 12 ? 'morning' : 'afternoon'\n  }\n}];"
        },
        "name": "Prepare Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          200
        ],
        "id": "prepare-input"
      },
      {
        "parameters": {
          "jsCode": "return $input.first().json.stocks.map(s => ({ json: { symbol: s } }));"
        },
        "name": "Split Stocks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          200,
          100
        ],
        "id": "split-stocks"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://query1.finance.yahoo.com/v8/finance/chart/' + $json.symbol + '?interval=1d&range=3mo' }}",
          "options": {
            "timeout": 15000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 2000
            },
            "headers": {
              "entries": [
                {
                  "name": "User-Agent",
                  "value": "Mozilla/5.0"
                }
              ]
            }
          }
        },
        "name": "Fetch Stocks",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          100
        ],
        "id": "fetch-stocks",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Enhanced Parse Stocks with ALL technical indicators\nconst items = $input.all();\nconst symbols = $('Split Stocks').all();\nconst results = [];\n\n// Load optimized parameters\nlet optimizedParams = {\n  rsi_period: 14,\n  rsi_oversold: 30,\n  rsi_overbought: 70,\n  bb_std_dev: 2.0,\n  volume_threshold: 1.5,\n  macd_fast: 12,\n  macd_slow: 26,\n  macd_signal: 9\n};\n\ntry {\n  const paramsData = $input.first().json?.optimized_params;\n  if (paramsData) {\n    optimizedParams = { ...optimizedParams, ...paramsData };\n  }\n} catch (e) {}\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    if (items[i].json.error || items[i].json.code) {\n      console.log('API error for', symbols[i]?.json?.symbol, ':', items[i].json.message || 'Unknown error');\n      continue;\n    }\n    \n    const data = items[i].json.chart?.result?.[0];\n    const symbol = symbols[i]?.json?.symbol;\n    if (!data || !symbol) continue;\n    \n    const quote = data.indicators?.quote?.[0];\n    const closes = (quote?.close || []).filter(c => c != null);\n    const highs = (quote?.high || []).filter(h => h != null);\n    const lows = (quote?.low || []).filter(l => l != null);\n    const volumes = (quote?.volume || []).filter(v => v != null);\n    \n    if (closes.length < 30) {\n      console.log('Insufficient data for:', symbol);\n      continue;\n    }\n    \n    const price = closes[closes.length - 1];\n    const high30 = Math.max(...closes.slice(-30));\n    const low30 = Math.min(...closes.slice(-30));\n    \n    // RSI variants (7, 14, 21)\n    function calcRSI(prices, period) {\n      if (prices.length < period + 1) return 50;\n      let gains = 0, losses = 0;\n      for (let j = 1; j <= period; j++) {\n        const delta = prices[prices.length - j] - prices[prices.length - j - 1];\n        if (delta > 0) gains += delta;\n        else losses -= delta;\n      }\n      const rs = losses === 0 ? 100 : gains / losses;\n      return 100 - (100 / (1 + rs));\n    }\n    \n    const rsi7 = Math.round(calcRSI(closes, 7) * 10) / 10;\n    const rsi14 = Math.round(calcRSI(closes, 14) * 10) / 10;\n    const rsi21 = Math.round(calcRSI(closes, 21) * 10) / 10;\n    \n    // MACD (multiple settings)\n    function calcEMA(prices, period) {\n      const alpha = 2 / (period + 1);\n      let ema = prices.slice(0, period).reduce((a, b) => a + b, 0) / period;\n      for (let j = period; j < prices.length; j++) {\n        ema = prices[j] * alpha + ema * (1 - alpha);\n      }\n      return ema;\n    }\n    \n    const ema12 = calcEMA(closes, 12);\n    const ema26 = calcEMA(closes, 26);\n    const macdLine = ema12 - ema26;\n    \n    const macdSignal = calcEMA(closes.slice(-26).concat([ema12]).map((_, idx, arr) => {\n      if (idx < 12) return arr[idx];\n      return calcEMA(closes.slice(0, idx + 1), 12) - calcEMA(closes.slice(0, idx + 1), 26);\n    }), 9);\n    \n    const macdHist = macdLine - macdSignal;\n    \n    // MACD 8/21/5\n    const ema8 = calcEMA(closes, 8);\n    const ema21 = calcEMA(closes, 21);\n    const macdLine2 = ema8 - ema21;\n    const macdHist2 = macdLine2 - (macdLine2 * 0.8);\n    \n    // Moving Averages\n    const ma20 = closes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const ma50 = closes.slice(-50).reduce((a, b) => a + b, 0) / Math.min(closes.length, 50);\n    const ma200 = closes.length >= 200 ? closes.slice(-200).reduce((a, b) => a + b, 0) / 200 : price;\n    \n    // Bollinger Bands (multiple std devs)\n    function calcBB(prices, period, stdDev) {\n      const mid = prices.slice(-period).reduce((a, b) => a + b, 0) / period;\n      const variance = prices.slice(-period).reduce((a, b) => a + Math.pow(b - mid, 2), 0) / period;\n      const std = Math.sqrt(variance);\n      return { upper: mid + stdDev * std, lower: mid - stdDev * std, mid };\n    }\n    \n    const bb2 = calcBB(closes, 20, 2.0);\n    const bb15 = calcBB(closes, 20, 1.5);\n    const bb25 = calcBB(closes, 20, 2.5);\n    \n    // Volume analysis\n    const avgVolume = volumes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const currentVolume = volumes[volumes.length - 1] || 0;\n    const volumeRatio = avgVolume > 0 ? currentVolume / avgVolume : 1;\n    \n    // Stochastic Oscillator\n    function calcStoch(highs, lows, closes, kPeriod, dPeriod) {\n      const k = [];\n      for (let j = kPeriod - 1; j < closes.length; j++) {\n        const highest = Math.max(...highs.slice(j - kPeriod + 1, j + 1));\n        const lowest = Math.min(...lows.slice(j - kPeriod + 1, j + 1));\n        k.push(highest !== lowest ? 100 * (closes[j] - lowest) / (highest - lowest) : 50);\n      }\n      const kVal = k[k.length - 1];\n      const dVal = k.slice(-dPeriod).reduce((a, b) => a + b, 0) / Math.min(k.length, dPeriod);\n      return { k: kVal, d: dVal };\n    }\n    \n    const stoch = calcStoch(highs, lows, closes, 14, 3);\n    \n    // ATR (Average True Range)\n    function calcATR(highs, lows, closes, period) {\n      let tr = [];\n      for (let j = 1; j < closes.length; j++) {\n        tr.push(Math.max(\n          highs[j] - lows[j],\n          Math.abs(highs[j] - closes[j - 1]),\n          Math.abs(lows[j] - closes[j - 1])\n        ));\n      }\n      return tr.slice(-period).reduce((a, b) => a + b, 0) / period;\n    }\n    \n    const atr = calcATR(highs, lows, closes, 14);\n    \n    // ADX (Average Directional Index) - simplified\n    function calcADX(highs, lows, closes, period) {\n      let plusDM = 0, minusDM = 0, trSum = 0;\n      for (let j = 1; j <= period && j < closes.length; j++) {\n        const tr = Math.max(highs[j] - lows[j], Math.abs(highs[j] - closes[j-1]), Math.abs(lows[j] - closes[j-1]));\n        trSum += tr;\n        if (highs[j] - highs[j-1] > lows[j-1] - lows[j]) plusDM += Math.max(0, highs[j] - highs[j-1]);\n        if (lows[j-1] - lows[j] > highs[j] - highs[j-1]) minusDM += Math.max(0, lows[j-1] - lows[j]);\n      }\n      const plusDI = trSum > 0 ? 100 * plusDM / trSum : 0;\n      const minusDI = trSum > 0 ? 100 * minusDM / trSum : 0;\n      const dx = plusDI + minusDI > 0 ? 100 * Math.abs(plusDI - minusDI) / (plusDI + minusDI) : 0;\n      return dx;\n    }\n    \n    const adx = calcADX(highs, lows, closes, 14);\n    \n    // OBV (On-Balance Volume)\n    function calcOBV(closes, volumes) {\n      let obv = 0;\n      for (let j = 1; j < closes.length; j++) {\n        if (closes[j] > closes[j-1]) obv += volumes[j];\n        else if (closes[j] < closes[j-1]) obv -= volumes[j];\n      }\n      return obv;\n    }\n    \n    const obv = calcOBV(closes, volumes);\n    const obvSma = obv / closes.length;\n    const obvTrend = obv > obvSma ? 'bullish' : 'bearish';\n    \n    // Price changes\n    const weekChange = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const monthChange = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    // Momentum\n    const momentum5 = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const momentum10 = ((price - closes[closes.length - 10]) / closes[closes.length - 10] * 100);\n    const momentum21 = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    results.push({\n      json: {\n        type: 'stock',\n        symbol,\n        current_price: Math.round(price * 100) / 100,\n        high_30d: Math.round(high30 * 100) / 100,\n        low_30d: Math.round(low30 * 100) / 100,\n        \n        // RSI\n        rsi_7: rsi7,\n        rsi_14: rsi14,\n        rsi_21: rsi21,\n        \n        // MACD\n        macd_line: Math.round(macdLine * 100) / 100,\n        macd_signal: Math.round(macdSignal * 100) / 100,\n        macd_histogram: Math.round(macdHist * 100) / 100,\n        macd_8_21_line: Math.round(macdLine2 * 100) / 100,\n        macd_8_21_hist: Math.round(macdHist2 * 100) / 100,\n        \n        // Moving Averages\n        ma_20: Math.round(ma20 * 100) / 100,\n        ma_50: Math.round(ma50 * 100) / 100,\n        ma_200: Math.round(ma200 * 100) / 100,\n        \n        // Bollinger Bands\n        bb_upper: Math.round(bb2.upper * 100) / 100,\n        bb_lower: Math.round(bb2.lower * 100) / 100,\n        bb_middle: Math.round(bb2.mid * 100) / 100,\n        bb_upper_15: Math.round(bb15.upper * 100) / 100,\n        bb_lower_15: Math.round(bb15.lower * 100) / 100,\n        bb_upper_25: Math.round(bb25.upper * 100) / 100,\n        bb_lower_25: Math.round(bb25.lower * 100) / 100,\n        bb_width: Math.round((bb2.upper - bb2.lower) * 100) / 100,\n        bb_position: Math.round((price - bb2.lower) / (bb2.upper - bb2.lower) * 100),\n        \n        // Volume\n        avg_volume: Math.round(avgVolume),\n        volume_ratio: Math.round(volumeRatio * 100) / 100,\n        \n        // Stochastic\n        stoch_k: Math.round(stoch.k * 10) / 10,\n        stoch_d: Math.round(stoch.d * 10) / 10,\n        \n        // ATR & ADX\n        atr: Math.round(atr * 100) / 100,\n        adx: Math.round(adx * 10) / 10,\n        \n        // OBV\n        obv_trend: obvTrend,\n        \n        // Momentum\n        momentum_5: Math.round(momentum5 * 100) / 100,\n        momentum_10: Math.round(momentum10 * 100) / 100,\n        momentum_21: Math.round(momentum21 * 100) / 100,\n        \n        // Price changes\n        week_change_pct: Math.round(weekChange * 100) / 100,\n        month_change_pct: Math.round(monthChange * 100) / 100\n      }\n    });\n  } catch (e) {\n    console.error('Stock parse error:', e.message);\n  }\n}\n\nif (results.length === 0) {\n  results.push({ json: { type: 'none', symbol: 'ERROR', error: 'No stock data available' } });\n}\n\nreturn results;"
        },
        "name": "Parse Stocks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          100
        ],
        "id": "parse-stocks"
      },
      {
        "parameters": {
          "jsCode": "return $input.first().json.crypto.map(c => ({ json: { id: c } }));"
        },
        "name": "Split Crypto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          200,
          300
        ],
        "id": "split-crypto"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://api.coingecko.com/api/v3/coins/' + $json.id + '/ohlc?vs_currency=usd&days=90' }}",
          "options": {
            "timeout": 15000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 2000
            },
            "headers": {
              "entries": [
                {
                  "name": "User-Agent",
                  "value": "Mozilla/5.0"
                }
              ]
            }
          }
        },
        "name": "Fetch Crypto",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          300
        ],
        "id": "fetch-crypto",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Real RSI, MACD, Bollinger Bands from OHLC data (matching stock calculations)\nconst items = $input.all();\nconst ids = $('Split Crypto').all();\nconst results = [];\n\nfunction calcRSI(prices, period) {\n  if (prices.length < period + 1) return 50;\n  let gains = 0, losses = 0;\n  for (let j = 1; j <= period; j++) {\n    const delta = prices[prices.length - j] - prices[prices.length - j - 1];\n    if (delta > 0) gains += delta;\n    else losses -= delta;\n  }\n  const rs = losses === 0 ? 100 : gains / losses;\n  return 100 - (100 / (1 + rs));\n}\n\nfunction calcEMA(prices, period) {\n  const alpha = 2 / (period + 1);\n  let ema = prices.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  for (let j = period; j < prices.length; j++) {\n    ema = prices[j] * alpha + ema * (1 - alpha);\n  }\n  return ema;\n}\n\nfunction calcBB(prices, period, stdDev) {\n  const mid = prices.slice(-period).reduce((a, b) => a + b, 0) / period;\n  const variance = prices.slice(-period).reduce((a, b) => a + Math.pow(b - mid, 2), 0) / period;\n  const std = Math.sqrt(variance);\n  return { upper: mid + stdDev * std, lower: mid - stdDev * std, mid };\n}\n\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const id = ids[i]?.json?.id;\n    const ohlc = items[i].json;\n    \n    if (!id || !Array.isArray(ohlc) || ohlc.length < 30) {\n      console.log('Insufficient OHLC data for:', id);\n      continue;\n    }\n    \n    // OHLC format: [timestamp, open, high, low, close]\n    const closes = ohlc.map(c => c[4]).filter(c => c != null);\n    const highs = ohlc.map(c => c[2]).filter(c => c != null);\n    const lows = ohlc.map(c => c[3]).filter(c => c != null);\n    \n    if (closes.length < 30) continue;\n    \n    const price = closes[closes.length - 1];\n    const high90 = Math.max(...closes.slice(-90));\n    const low90 = Math.min(...closes.slice(-90));\n    \n    // RSI variants\n    const rsi7 = Math.round(calcRSI(closes, 7) * 10) / 10;\n    const rsi14 = Math.round(calcRSI(closes, 14) * 10) / 10;\n    const rsi21 = Math.round(calcRSI(closes, 21) * 10) / 10;\n    \n    // MACD\n    const ema12 = calcEMA(closes, 12);\n    const ema26 = calcEMA(closes, 26);\n    const macdLine = ema12 - ema26;\n    const macdSignalVals = [];\n    for (let j = 9; j <= closes.length; j++) {\n      const slice = closes.slice(0, j);\n      const e12 = calcEMA(slice, 12);\n      const e26 = calcEMA(slice, 26);\n      macdSignalVals.push(e12 - e26);\n    }\n    const macdSignal = calcEMA(macdSignalVals, 9);\n    const macdHist = macdLine - macdSignal;\n    \n    // MACD 8/21/5\n    const ema8 = calcEMA(closes, 8);\n    const ema21 = calcEMA(closes, 21);\n    const macdLine2 = ema8 - ema21;\n    const macdHist2 = macdLine2 - (macdLine2 * 0.8);\n    \n    // Moving Averages\n    const ma20 = closes.slice(-20).reduce((a, b) => a + b, 0) / 20;\n    const ma50 = closes.slice(-50).reduce((a, b) => a + b, 0) / Math.min(closes.length, 50);\n    const ma200 = closes.length >= 200 ? closes.slice(-200).reduce((a, b) => a + b, 0) / 200 : price;\n    \n    // Bollinger Bands\n    const bb2 = calcBB(closes, 20, 2.0);\n    const bb15 = calcBB(closes, 20, 1.5);\n    const bb25 = calcBB(closes, 20, 2.5);\n    const bbPosition = Math.round((price - bb2.lower) / (bb2.upper - bb2.lower) * 100);\n    \n    // Price changes\n    const weekChange = ((price - closes[closes.length - 5]) / closes[closes.length - 5] * 100);\n    const monthChange = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    const momentum21 = ((price - closes[closes.length - 21]) / closes[closes.length - 21] * 100);\n    \n    results.push({\n      json: {\n        type: 'crypto',\n        id,\n        symbol: id.toUpperCase(),\n        current_price: Math.round(price * 100) / 100,\n        high_90d: Math.round(high90 * 100) / 100,\n        low_90d: Math.round(low90 * 100) / 100,\n        \n        // RSI (same as stocks)\n        rsi_7: rsi7,\n        rsi_14: rsi14,\n        rsi_21: rsi21,\n        \n        // MACD (same as stocks)\n        macd_line: Math.round(macdLine * 100) / 100,\n        macd_signal: Math.round(macdSignal * 100) / 100,\n        macd_histogram: Math.round(macdHist * 100) / 100,\n        macd_8_21_line: Math.round(macdLine2 * 100) / 100,\n        macd_8_21_hist: Math.round(macdHist2 * 100) / 100,\n        \n        // Moving Averages\n        ma_20: Math.round(ma20 * 100) / 100,\n        ma_50: Math.round(ma50 * 100) / 100,\n        ma_200: Math.round(ma200 * 100) / 100,\n        \n        // Bollinger Bands\n        bb_upper: Math.round(bb2.upper * 100) / 100,\n        bb_lower: Math.round(bb2.lower * 100) / 100,\n        bb_middle: Math.round(bb2.mid * 100) / 100,\n        bb_upper_15: Math.round(bb15.upper * 100) / 100,\n        bb_lower_15: Math.round(bb15.lower * 100) / 100,\n        bb_upper_25: Math.round(bb25.upper * 100) / 100,\n        bb_lower_25: Math.round(bb25.lower * 100) / 100,\n        bb_position: bbPosition,\n        \n        // Price changes\n        week_change_pct: Math.round(weekChange * 100) / 100,\n        month_change_pct: Math.round(monthChange * 100) / 100,\n        momentum_21: Math.round(momentum21 * 100) / 100\n      }\n    });\n  } catch (e) {\n    console.error('Crypto parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { type: 'none', symbol: 'ERROR', error: 'No crypto data available' } }];"
        },
        "name": "Parse Crypto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ],
        "id": "parse-crypto"
      },
      {
        "parameters": {},
        "name": "Merge Data",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          800,
          200
        ],
        "id": "merge-data"
      },
      {
        "parameters": {
          "jsCode": "const allData = $input.all();\nconst stocks = allData.filter(d => d.json.type === 'stock').map(d => d.json);\nconst crypto = allData.filter(d => d.json.type === 'crypto').map(d => d.json);\nconst positions = $('Prepare Input').first().json.positions;\nconst timestamp = $('Prepare Input').first().json.timestamp;\nconst timeLabel = $('Prepare Input').first().json.timeLabel;\n\n// Load optimized parameters from file\nlet optimizedParams = {\n  thresholds: {\n    rsi_oversold: 30,\n    rsi_overbought: 70,\n    volume_spike_multiplier: 1.5,\n    macd_histogram_threshold: 0.15\n  },\n  confidence_weights: {\n    rsi: 0.40,\n    macd: 0.20,\n    volume: 0.15,\n    momentum: 0.15,\n    bollinger: 0.10\n  },\n  risk_parameters: {\n    stop_loss_pct: 6.0,\n    take_profit_pct: 8.0,\n    trailing_stop_pct: 4.0\n  }\n};\n\ntry {\n  const patternsRaw = $input.first().binary?.data?.data;\n  if (patternsRaw) {\n    const patterns = JSON.parse(Buffer.from(patternsRaw, 'base64').toString('utf-8'));\n    if (patterns.threshold_adjustments) optimizedParams.thresholds = patterns.threshold_adjustments;\n    if (patterns.confidence_weights) optimizedParams.confidence_weights = patterns.confidence_weights;\n    if (patterns.risk_parameters) optimizedParams.risk_parameters = patterns.risk_parameters;\n  }\n} catch (e) {\n  console.log('Using default parameters');\n}\n\n// Build comprehensive context for AI\nconst lines = [];\nlines.push('=== MARKET DATA ===');\nlines.push('Timestamp: ' + timestamp);\nlines.push('Session: ' + timeLabel.toUpperCase());\nlines.push('');\nlines.push('=== OPTIMIZED PARAMETERS (Walk-Forward Validated) ===');\nlines.push('RSI Oversold: ' + optimizedParams.thresholds.rsi_oversold);\nlines.push('RSI Overbought: ' + optimizedParams.thresholds.rsi_overbought);\nlines.push('Volume Spike: ' + optimizedParams.thresholds.volume_spike_multiplier + 'x');\nlines.push('Stop Loss: ' + optimizedParams.risk_parameters.stop_loss_pct + '%');\nlines.push('Take Profit: ' + optimizedParams.risk_parameters.take_profit_pct + '%');\nlines.push('');\nlines.push('Confidence Weights:');\nlines.push('  RSI: ' + (optimizedParams.confidence_weights.rsi * 100) + '%');\nlines.push('  MACD: ' + (optimizedParams.confidence_weights.macd * 100) + '%');\nlines.push('  Bollinger: ' + (optimizedParams.confidence_weights.bollinger * 100) + '%');\nlines.push('  Momentum: ' + (optimizedParams.confidence_weights.momentum * 100) + '%');\nlines.push('  Volume: ' + (optimizedParams.confidence_weights.volume * 100) + '%');\nlines.push('');\n\nif (stocks.length > 0) {\n  lines.push('--- STOCKS ---');\n  for (const s of stocks) {\n    lines.push(s.symbol + ': $' + s.current_price);\n    lines.push('  RSI: 7=' + s.rsi_7 + ' | 14=' + s.rsi_14 + ' | 21=' + s.rsi_21);\n    lines.push('  MACD: ' + s.macd_line + ' (signal: ' + s.macd_signal + ', hist: ' + s.macd_histogram + ')');\n    lines.push('  MACD(8/21): ' + s.macd_8_21_line + ' (hist: ' + s.macd_8_21_hist + ')');\n    lines.push('  MA: 20d=' + s.ma_20 + ', 50d=' + s.ma_50 + ', 200d=' + s.ma_200);\n    lines.push('  BB: $' + s.bb_lower + ' - $' + s.bb_upper + ' (pos: ' + s.bb_position + '%)');\n    lines.push('  Stochastic: K=' + s.stoch_k + ', D=' + s.stoch_d);\n    lines.push('  ATR: ' + s.atr + ', ADX: ' + s.adx);\n    lines.push('  OBV: ' + s.obv_trend);\n    lines.push('  Momentum: 5d=' + s.momentum_5 + '%, 10d=' + s.momentum_10 + '%, 21d=' + s.momentum_21 + '%');\n    lines.push('  Volume: ' + s.volume_ratio + 'x avg');\n    lines.push('  7d: ' + (s.week_change_pct > 0 ? '+' : '') + s.week_change_pct + '%');\n    \n    // Signal hints\n    const hints = [];\n    if (s.rsi_14 < optimizedParams.thresholds.rsi_oversold) hints.push('RSI OVERSOLD');\n    if (s.rsi_14 > optimizedParams.thresholds.rsi_overbought) hints.push('RSI OVERBOUGHT');\n    if (s.volume_ratio > optimizedParams.thresholds.volume_spike_multiplier) hints.push('VOLUME SPIKE');\n    if (s.macd_histogram > optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BULLISH');\n    if (s.macd_histogram < -optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BEARISH');\n    if (s.current_price < s.bb_lower) hints.push('BELOW BB LOWER');\n    if (s.current_price > s.bb_upper) hints.push('ABOVE BB UPPER');\n    if (s.stoch_k < 20 && s.stoch_k > s.stoch_d) hints.push('STOCH BULLISH CROSS');\n    if (s.stoch_k > 80 && s.stoch_k < s.stoch_d) hints.push('STOCH BEARISH CROSS');\n    if (s.adx > 25) hints.push('STRONG TREND (ADX ' + s.adx + ')');\n    if (hints.length > 0) lines.push('  SIGNALS: ' + hints.join(', '));\n  }\n  lines.push('');\n}\n\nif (crypto.length > 0) {\n  lines.push('--- CRYPTO ---');\n  for (const c of crypto) {\n    lines.push(c.symbol + ': $' + c.current_price);\n    lines.push('  RSI: ' + c.rsi_14_approx + ' | 7d: ' + (c.week_change_pct > 0 ? '+' : '') + c.week_change_pct + '%');\n  }\n  lines.push('');\n}\n\nif (Object.keys(positions).length > 0) {\n  lines.push('--- POSITIONS ---');\n  for (const [id, pos] of Object.entries(positions)) {\n    lines.push(pos.symbol + ': Entry $' + pos.entry_price + ' | Stop $' + pos.stop_loss + ' | Target $' + pos.take_profit);\n  }\n  lines.push('');\n}\n\nreturn [{\n  json: {\n    timestamp,\n    timeLabel,\n    humanSummary: lines.join('\\n'),\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    analysisData: { stocks, crypto, positions, timestamp, time_label: timeLabel }\n  }\n}];"
        },
        "name": "Build Analysis Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          200
        ],
        "id": "build-context"
      },
      {
        "parameters": {
          "filePath": "/home/ubuntu/.n8n-files/Trading/learning/patterns.json",
          "options": {
            "errorHandling": "continue"
          }
        },
        "name": "Load Patterns",
        "type": "n8n-nodes-base.readBinaryFile",
        "typeVersion": 1,
        "position": [
          1200,
          200
        ],
        "id": "load-patterns"
      },
      {
        "parameters": {
          "jsCode": "// Build comprehensive context for AI with null checks and error handling\nconst allData = $input.all();\nconst stocks = allData.filter(d => d.json.type === 'stock' && !d.json.error).map(d => d.json);\nconst crypto = allData.filter(d => d.json.type === 'crypto' && !d.json.error).map(d => d.json);\nconst positions = $('Prepare Input').first().json.positions || {};\nconst timestamp = $('Prepare Input').first().json.timestamp;\nconst timeLabel = $('Prepare Input').first().json.timeLabel;\n\n// Log errors for failed fetches\nconst stockErrors = allData.filter(d => d.json.type === 'stock' && d.json.error);\nconst cryptoErrors = allData.filter(d => d.json.type === 'crypto' && d.json.error);\nif (stockErrors.length > 0) {\n  console.log('Stock fetch errors:', stockErrors.map(e => e.json.symbol + ': ' + (e.json.error || e.json.message)));\n}\nif (cryptoErrors.length > 0) {\n  console.log('Crypto fetch errors:', cryptoErrors.map(e => e.json.id + ': ' + (e.json.error || e.json.message)));\n}\n\n// Load optimized parameters from file with defaults\nlet optimizedParams = {\n  thresholds: {\n    rsi_oversold: 30,\n    rsi_overbought: 70,\n    volume_spike_multiplier: 1.5,\n    macd_histogram_threshold: 0.15\n  },\n  confidence_weights: {\n    rsi: 0.40,\n    macd: 0.20,\n    volume: 0.15,\n    momentum: 0.15,\n    bollinger: 0.10\n  },\n  risk_parameters: {\n    stop_loss_pct: 6.0,\n    take_profit_pct: 8.0,\n    trailing_stop_pct: 4.0\n  }\n};\n\ntry {\n  const patternsRaw = $('Load Patterns').first().binary?.data?.data;\n  if (patternsRaw) {\n    const patterns = JSON.parse(Buffer.from(patternsRaw, 'base64').toString('utf-8'));\n    if (patterns.threshold_adjustments) optimizedParams.thresholds = { ...optimizedParams.thresholds, ...patterns.threshold_adjustments };\n    if (patterns.confidence_weights) optimizedParams.confidence_weights = { ...optimizedParams.confidence_weights, ...patterns.confidence_weights };\n    if (patterns.risk_parameters) optimizedParams.risk_parameters = { ...optimizedParams.risk_parameters, ...patterns.risk_parameters };\n  }\n} catch (e) {\n  console.log('Using default parameters (file not found or invalid JSON)');\n}\n\n// Build comprehensive context for AI\nconst lines = [];\nlines.push('=== MARKET DATA ===');\nlines.push('Timestamp: ' + timestamp);\nlines.push('Session: ' + timeLabel.toUpperCase());\nlines.push('');\nlines.push('=== OPTIMIZED PARAMETERS (Walk-Forward Validated) ===');\nlines.push('RSI Oversold: ' + optimizedParams.thresholds.rsi_oversold);\nlines.push('RSI Overbought: ' + optimizedParams.thresholds.rsi_overbought);\nlines.push('Volume Spike: ' + optimizedParams.thresholds.volume_spike_multiplier + 'x');\nlines.push('Stop Loss: ' + optimizedParams.risk_parameters.stop_loss_pct + '%');\nlines.push('Take Profit: ' + optimizedParams.risk_parameters.take_profit_pct + '%');\nlines.push('');\nlines.push('Confidence Weights:');\nlines.push('  RSI: ' + (optimizedParams.confidence_weights.rsi * 100) + '%');\nlines.push('  MACD: ' + (optimizedParams.confidence_weights.macd * 100) + '%');\nlines.push('  Bollinger: ' + (optimizedParams.confidence_weights.bollinger * 100) + '%');\nlines.push('  Momentum: ' + (optimizedParams.confidence_weights.momentum * 100) + '%');\nlines.push('  Volume: ' + (optimizedParams.confidence_weights.volume * 100) + '%');\nlines.push('');\n\nif (stocks.length > 0) {\n  lines.push('--- STOCKS ---');\n  for (const s of stocks) {\n    lines.push(s.symbol + ': $' + s.current_price);\n    lines.push('  RSI: 7=' + s.rsi_7 + ' | 14=' + s.rsi_14 + ' | 21=' + s.rsi_21);\n    lines.push('  MACD: ' + s.macd_line + ' (signal: ' + s.macd_signal + ', hist: ' + s.macd_histogram + ')');\n    lines.push('  MACD(8/21): ' + s.macd_8_21_line + ' (hist: ' + s.macd_8_21_hist + ')');\n    lines.push('  MA: 20d=' + s.ma_20 + ', 50d=' + s.ma_50 + ', 200d=' + s.ma_200);\n    lines.push('  BB: $' + s.bb_lower + ' - $' + s.bb_upper + ' (pos: ' + s.bb_position + '%)');\n    lines.push('  Stochastic: K=' + s.stoch_k + ', D=' + s.stoch_d);\n    lines.push('  ATR: ' + s.atr + ', ADX: ' + s.adx);\n    lines.push('  OBV: ' + s.obv_trend);\n    lines.push('  Momentum: 5d=' + s.momentum_5 + '%, 10d=' + s.momentum_10 + '%, 21d=' + s.momentum_21 + '%');\n    lines.push('  Volume: ' + s.volume_ratio + 'x avg');\n    lines.push('  7d: ' + (s.week_change_pct > 0 ? '+' : '') + s.week_change_pct + '%');\n    \n    // Signal hints\n    const hints = [];\n    if (s.rsi_14 < optimizedParams.thresholds.rsi_oversold) hints.push('RSI OVERSOLD');\n    if (s.rsi_14 > optimizedParams.thresholds.rsi_overbought) hints.push('RSI OVERBOUGHT');\n    if (s.volume_ratio > optimizedParams.thresholds.volume_spike_multiplier) hints.push('VOLUME SPIKE');\n    if (s.macd_histogram > optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BULLISH');\n    if (s.macd_histogram < -optimizedParams.thresholds.macd_histogram_threshold) hints.push('MACD BEARISH');\n    if (s.current_price < s.bb_lower) hints.push('BELOW BB LOWER');\n    if (s.current_price > s.bb_upper) hints.push('ABOVE BB UPPER');\n    if (s.stoch_k < 20 && s.stoch_k > s.stoch_d) hints.push('STOCH BULLISH CROSS');\n    if (s.stoch_k > 80 && s.stoch_k < s.stoch_d) hints.push('STOCH BEARISH CROSS');\n    if (s.adx > 25) hints.push('STRONG TREND (ADX ' + s.adx + ')');\n    if (hints.length > 0) lines.push('  SIGNALS: ' + hints.join(', '));\n  }\n  lines.push('');\n} else {\n  lines.push('--- STOCKS ---');\n  lines.push('\u26a0\ufe0f No stock data available (API may have failed)');\n  lines.push('');\n}\n\nif (crypto.length > 0) {\n  lines.push('--- CRYPTO ---');\n  for (const c of crypto) {\n    lines.push(c.symbol + ': $' + c.current_price);\n    lines.push('  RSI: 7=' + c.rsi_7 + ' | 14=' + c.rsi_14 + ' | 21=' + c.rsi_21);\n    lines.push('  MACD: ' + c.macd_line + ' (hist: ' + c.macd_histogram + ')');\n    lines.push('  BB: $' + c.bb_lower + ' - $' + c.bb_upper + ' (pos: ' + c.bb_position + '%)');\n    lines.push('  7d: ' + (c.week_change_pct > 0 ? '+' : '') + c.week_change_pct + '%');\n  }\n  lines.push('');\n} else {\n  lines.push('--- CRYPTO ---');\n  lines.push('\u26a0\ufe0f No crypto data available (API may have failed)');\n  lines.push('');\n}\n\nif (Object.keys(positions).length > 0) {\n  lines.push('--- POSITIONS ---');\n  for (const [id, pos] of Object.entries(positions)) {\n    lines.push(pos.symbol + ': Entry $' + pos.entry_price + ' | Stop $' + pos.stop_loss + ' | Target $' + pos.take_profit);\n  }\n  lines.push('');\n}\n\nreturn [{\n  json: {\n    timestamp,\n    timeLabel,\n    humanSummary: lines.join('\\n'),\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    analysisData: { stocks, crypto, positions, timestamp, time_label: timeLabel },\n    hasData: stocks.length > 0 || crypto.length > 0\n  }\n}];"
        },
        "name": "Build Analysis Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          200
        ],
        "id": "build-context"
      },
      {
        "parameters": {
          "jsCode": "// Prepare ML input or skip if no data\nconst contextData = $('Build Analysis Context').first().json;\nconst stocks = contextData.stocks || [];\n\nif (stocks.length === 0) {\n  return [{\n    json: {\n      ...contextData,\n      skipML: true,\n      mlInput: null\n    }\n  }];\n}\n\n// Prepare data for analysis (passed directly in JSON, no temp file)\nconst mlInput = {\n  timestamp: contextData.timestamp,\n  symbols: stocks.map(s => ({\n    symbol: s.symbol,\n    rsi_7: s.rsi_7,\n    rsi_14: s.rsi_14,\n    rsi_21: s.rsi_21,\n    macd_line: s.macd_line,\n    macd_signal: s.macd_signal,\n    macd_histogram: s.macd_histogram,\n    bb_position: s.bb_position,\n    volume_ratio: s.volume_ratio,\n    stoch_k: s.stoch_k,\n    stoch_d: s.stoch_d,\n    adx: s.adx,\n    momentum_21: s.momentum_21,\n    current_price: s.current_price\n  }))\n};\n\nreturn [{\n  json: {\n    ...contextData,\n    mlInput: mlInput\n  }\n}];"
        },
        "name": "Prepare ML Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          100
        ],
        "id": "prepare-ml"
      },
      {
        "parameters": {
          "jsCode": "// ML Classifier placeholder - using built-in scoring instead\nconst input = $input.first().json;\nreturn [input];"
        },
        "name": "ML Classifier (Disabled)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          100
        ],
        "id": "ml-classifier"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.humanSummary }}",
          "options": {
            "systemMessage": "You are a quantitative analyst with ML-enhanced signals. Analyze the market data and generate signals.\n\nFor each asset, provide:\n1. Signal: BUY / SELL / HOLD\n2. Confidence: 1-100\n3. Reasoning: Brief explanation\n4. Key levels: Entry/exit points\n\nUse the OPTIMIZED THRESHOLDS provided:\n- RSI below learned oversold: BUY\n- RSI above learned overbought: SELL\n- MACD crossover: BUY/SELL\n- Price near BB bands: Reversal signals\n- Volume spike: Confidence boost\n- Stochastic crosses: Entry/exit timing\n- ADX > 25: Strong trend confirmation\n\nConsider ML classifier output if available.\n\nOutput ONLY valid JSON:\n{\n  \"market_overview\": \"2-3 sentence summary\",\n  \"signals\": [{\n    \"symbol\": \"NVDA\",\n    \"action\": \"buy|sell|hold\",\n    \"confidence\": 75,\n    \"reason\": \"RSI oversold + MACD bullish + volume spike\",\n    \"urgency\": \"low|medium|high|critical\",\n    \"key_levels\": {\"entry\": 178, \"stop\": 170, \"target\": 195},\n    \"tech_indicators\": [\"RSI oversold\", \"MACD bull cross\", \"Volume 2.1x\"]\n  }],\n  \"recommendations\": \"Actionable advice\",\n  \"risk_assessment\": \"Risk notes\"\n}"
          }
        },
        "name": "AI Quant Analysis",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1400,
          300
        ],
        "id": "ai-analysis"
      },
      {
        "parameters": {
          "model": "glm-5:cloud",
          "options": {
            "temperature": 0.25
          }
        },
        "name": "GLM-5 Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          1400,
          450
        ],
        "id": "glm-model",
        "credentials": {
          "ollamaApi": {
            "id": "dCTVfWIVTHlRhGsF",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Calculate confidence purely from technical indicators (no AI base score)\nconst input = $input.first().json;\nconst analysisText = input.output || input.text || '';\nconst contextData = $('Build Analysis Context').first().json;\nconst optimizedParams = contextData.optimizedParams;\nconst stocks = contextData.stocks || [];\nconst crypto = contextData.crypto || [];\nconst positions = contextData.positions || {};\nconst timestamp = contextData.timestamp;\n\n// Parse AI output for signals only (ignore AI confidence)\nlet aiOutput = { market_overview: '', signals: [], recommendations: '', risk_assessment: '' };\ntry {\n  const jsonMatch = analysisText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    aiOutput = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  aiOutput.market_overview = analysisText.substring(0, 200);\n}\n\n// Calculate confidence from technical indicators ONLY\nfunction calcConfidence(data, action, thresholds) {\n  let confidence = 50; // Start neutral\n  let reasons = [];\n  \n  if (!data) return { confidence: 50, reasons: ['No data'] };\n  \n  const rsi = data.rsi_14 || 50;\n  \n  // RSI extremes (+20) or moderate (+10)\n  if (action === 'buy') {\n    if (rsi < 25) {\n      confidence += 20;\n      reasons.push('RSI extremely oversold (<25)');\n    } else if (rsi < thresholds.rsi_oversold) {\n      confidence += 10;\n      reasons.push('RSI oversold');\n    }\n  } else if (action === 'sell') {\n    if (rsi > 75) {\n      confidence += 20;\n      reasons.push('RSI extremely overbought (>75)');\n    } else if (rsi > thresholds.rsi_overbought) {\n      confidence += 10;\n      reasons.push('RSI overbought');\n    }\n  }\n  \n  // MACD crossover confirmed (+15)\n  const macdHist = data.macd_histogram || 0;\n  if (action === 'buy' && macdHist > thresholds.macd_histogram_threshold) {\n    confidence += 15;\n    reasons.push('MACD strongly bullish');\n  } else if (action === 'sell' && macdHist < -thresholds.macd_histogram_threshold) {\n    confidence += 15;\n    reasons.push('MACD strongly bearish');\n  } else if ((action === 'buy' && macdHist > 0) || (action === 'sell' && macdHist < 0)) {\n    confidence += 8;\n    reasons.push('MACD confirmed');\n  }\n  \n  // Volume spike (+12)\n  if (data.volume_ratio && data.volume_ratio > thresholds.volume_spike_multiplier) {\n    confidence += 12;\n    reasons.push(`Volume spike (${data.volume_ratio}x)`);\n  }\n  \n  // Bollinger band touch + reversal (+10)\n  const bbPos = data.bb_position || 50;\n  if (action === 'buy' && bbPos < 10) {\n    confidence += 10;\n    reasons.push('Price at BB lower band');\n  } else if (action === 'sell' && bbPos > 90) {\n    confidence += 10;\n    reasons.push('Price at BB upper band');\n  }\n  \n  // ADX strong trend (+8)\n  if (data.adx && data.adx > 25) {\n    confidence += 8;\n    reasons.push(`Strong trend (ADX ${data.adx})`);\n  }\n  \n  // Multiple timeframe agreement (+15)\n  const rsi7 = data.rsi_7 || 50;\n  const rsi21 = data.rsi_21 || 50;\n  if (action === 'buy' && rsi7 < rsi && rsi < rsi21 && rsi21 < thresholds.rsi_oversold) {\n    confidence += 15;\n    reasons.push('Multi-timeframe RSI alignment');\n  } else if (action === 'sell' && rsi7 > rsi && rsi > rsi21 && rsi21 > thresholds.rsi_overbought) {\n    confidence += 15;\n    reasons.push('Multi-timeframe RSI alignment');\n  }\n  \n  // Subtract for conflicting signals (-10)\n  const conflicts = [];\n  if (action === 'buy') {\n    if (macdHist < -0.1) conflicts.push('MACD bearish');\n    if (bbPos > 70) conflicts.push('Near BB upper');\n  } else if (action === 'sell') {\n    if (macdHist > 0.1) conflicts.push('MACD bullish');\n    if (bbPos < 30) conflicts.push('Near BB lower');\n  }\n  \n  if (conflicts.length > 0) {\n    confidence -= 10 * conflicts.length;\n    reasons.push(`Conflicting: ${conflicts.join(', ')}`);\n  }\n  \n  // Cap at 5-95 range\n  confidence = Math.max(5, Math.min(95, confidence));\n  \n  return { confidence: Math.round(confidence), reasons };\n}\n\n// Process signals\nconst signals = [];\n\nfor (const sig of (aiOutput.signals || [])) {\n  const stockData = stocks.find(s => s.symbol === sig.symbol);\n  const cryptoData = crypto.find(c => c.symbol === sig.symbol || c.id === sig.symbol?.toLowerCase());\n  const data = stockData || cryptoData;\n  \n  const { confidence, reasons } = calcConfidence(data, sig.action, optimizedParams.thresholds);\n  \n  signals.push({\n    ...sig,\n    confidence,\n    tech_reasons: reasons,\n    price: data?.current_price\n  });\n}\n\n// Position alerts (keep existing logic)\nfor (const [id, pos] of Object.entries(positions)) {\n  const stockData = stocks.find(s => s.symbol?.toLowerCase() === pos.symbol?.toLowerCase());\n  const cryptoData = crypto.find(c => c.id?.toLowerCase() === pos.symbol?.toLowerCase());\n  const data = stockData || cryptoData;\n  \n  if (!data) continue;\n  \n  const price = data.current_price;\n  const stopDist = (price - pos.stop_loss) / pos.stop_loss * 100;\n  const targetDist = (pos.take_profit - price) / price * 100;\n  \n  if (stopDist < 3) {\n    signals.push({\n      symbol: pos.symbol,\n      action: 'sell',\n      confidence: Math.min(95, 90 + Math.round((3 - stopDist) * 3)),\n      reason: `Position near stop loss (${stopDist.toFixed(1)}% away)`,\n      urgency: 'critical',\n      tech_reasons: ['Stop loss proximity'],\n      position_id: id,\n      price\n    });\n  }\n  \n  if (targetDist < 5) {\n    signals.push({\n      symbol: pos.symbol,\n      action: 'sell',\n      confidence: Math.min(95, 70 + Math.round((5 - targetDist) * 2)),\n      reason: `Position near target (${targetDist.toFixed(1)}% away)`,\n      urgency: 'high',\n      tech_reasons: ['Take profit proximity'],\n      position_id: id,\n      price\n    });\n  }\n}\n\nsignals.sort((a, b) => b.confidence - a.confidence);\n\nreturn [{\n  json: {\n    timestamp,\n    market_overview: aiOutput.market_overview,\n    signals,\n    recommendations: aiOutput.recommendations,\n    risk_assessment: aiOutput.risk_assessment,\n    stocks,\n    crypto,\n    positions,\n    optimizedParams,\n    confidenceDistribution: {\n      min: signals.length ? Math.min(...signals.map(s => s.confidence)) : 0,\n      max: signals.length ? Math.max(...signals.map(s => s.confidence)) : 0,\n      avg: signals.length ? Math.round(signals.reduce((a, b) => a + b.confidence, 0) / signals.length) : 0\n    }\n  }\n}];"
        },
        "name": "Process & Score",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          200
        ],
        "id": "process-score"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Prepare Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Input": {
        "main": [
          [
            {
              "node": "Split Stocks",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Stocks": {
        "main": [
          [
            {
              "node": "Fetch Stocks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Stocks": {
        "main": [
          [
            {
              "node": "Parse Stocks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Stocks": {
        "main": [
          [
            {
              "node": "Merge Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Crypto": {
        "main": [
          [
            {
              "node": "Fetch Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Crypto": {
        "main": [
          [
            {
              "node": "Parse Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Crypto": {
        "main": [
          [
            {
              "node": "Merge Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Data": {
        "main": [
          [
            {
              "node": "Build Analysis Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Analysis Context": {
        "main": [
          [
            {
              "node": "Load Patterns",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Patterns": {
        "main": [
          [
            {
              "node": "Prepare ML Input",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Quant Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare ML Input": {
        "main": [
          [
            {
              "node": "AI Quant Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Quant Analysis": {
        "main": [
          [
            {
              "node": "Process & Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GLM-5 Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Quant Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "monday bot",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}