automation/n8n/workflows/news-daily-brief.json
{
  "id": "daily-news-brief-001",
  "name": "News Daily Brief",
  "active": 1,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "9db24be2-acb7-4450-a989-68cbd6bc3862"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Fetch BBC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        64
      ],
      "id": "25396170-92de-45c2-bdb6-45d413c67e9f"
    },
    {
      "parameters": {
        "url": "https://www.investing.com/rss/news.rss",
        "options": {
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Fetch Investing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        192
      ],
      "id": "338abb8b-b895-45a4-b257-cc9d43e66ed5"
    },
    {
      "parameters": {
        "url": "https://cointelegraph.com/rss",
        "options": {
          "retry": {
            "retry": {
              "conditions": {
                "error": [
                  {
                    "message": "ECONNRESET|ETIMEDOUT|ENOTFOUND|ECONNREFUSED"
                  }
                ]
              },
              "waitBeforeRetry": 5000,
              "maxTries": 3
            }
          }
        }
      },
      "name": "Fetch Crypto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        320
      ],
      "id": "9c714349-5e0b-4215-8d5e-016eb9c8ae5c"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst articles = [];\nconst seenTitles = new Set();\n\nfor (const inputItem of allInputs) {\n  const xmlData = inputItem.json?.data || '';\n  const url = inputItem.json?.url || '';\n  let source = 'News';\n  if (url.includes('bbc')) source = 'BBC';\n  else if (url.includes('investing')) source = 'Investing';\n  else if (url.includes('cointelegraph')) source = 'Crypto';\n  \n  const itemRegex = /<item>[\\s\\S]*?<\\/item>/g;\n  let match;\n  while ((match = itemRegex.exec(xmlData)) !== null) {\n    const item = match[0];\n    const titleMatch = item.match(/<title><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>|<title>([^<]+)<\\/title>/);\n    const title = titleMatch ? (titleMatch[1] || titleMatch[2] || '').trim() : '';\n    const descMatch = item.match(/<description><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>|<description>([^<]+)<\\/description>/);\n    const description = descMatch ? (descMatch[1] || descMatch[2] || '').trim() : '';\n    if (title && !seenTitles.has(title.toLowerCase())) {\n      seenTitles.add(title.toLowerCase());\n      articles.push({ source, title, description: description.substring(0, 500) });\n    }\n  }\n}\n\n// Helper: check if keyword appears as whole word or phrase\nconst matchesKeyword = (text, keywords) => {\n  for (const kw of keywords) {\n    if (kw.includes(' ')) {\n      if (text.includes(kw)) return true;\n    } else {\n      const regex = new RegExp(`\\\\b${kw}\\\\b`, 'i');\n      if (regex.test(text)) return true;\n    }\n  }\n  return false;\n};\n\n// USA politics keywords ONLY - no ambiguous terms that match other contexts\nconst usaPoliticsKeywords = [\n  'trump', 'biden', 'harris', 'obama', 'pelosi', 'mcconnell', 'schumer', 'mccarthy',\n  'congress', 'senate', 'house of representatives', 'white house', 'supreme court', 'capitol',\n  'democrat', 'republican', 'democrats', 'republicans', 'gop',\n  'federal reserve', 'attorney general', 'department of justice', 'impeachment',\n  'us election', 'u.s. election', 'presidential election', 'midterm election', 'primary election'\n];\nconst worldKeywords = [\n  'ukraine', 'russia', 'gaza', 'israel', 'palestine', 'iran', 'china', 'north korea', 'syria', 'lebanon',\n  'germany', 'france', 'britain', 'uk ', 'europe', 'eu ', 'japan', 'south korea', 'india', 'brazil',\n  'nato', 'united nations', 'war', 'conflict', 'treaty', 'summit', 'foreign minister', 'prime minister',\n  'earthquake', 'hurricane', 'typhoon', 'disaster'\n];\nconst financialKeywords = [\n  'stock market', 'wall street', 'dow jones', 's&p 500', 'nasdaq', 'federal reserve', 'interest rate', 'inflation',\n  'gdp', 'recession', 'jobs report', 'unemployment rate', 'earnings report', 'ipo', 'merger', 'acquisition',\n  'oil price', 'gas price', 'commodities', 'treasury bond', 'yield curve', 'trade deficit', 'hedge fund',\n  'sensex', 'ftse', 'nikkei', 'dax', 'hang seng'\n];\nconst cryptoKeywords = [\n  'bitcoin', 'ethereum', 'cryptocurrency', 'blockchain', 'defi', 'nft', 'altcoin', 'token sale', 'btc', 'eth', 'mining',\n  'crypto wallet', 'web3', 'stablecoin', 'crypto etf', 'sec crypto', 'coinbase', 'binance'\n];\n\nconst categories = { world: [], political: [], financial: [], crypto: [] };\n\nfor (const article of articles) {\n  const text = (article.title + ' ' + article.description).toLowerCase();\n  let categorized = false;\n  \n  // Check USA politics first - must match USA-specific terms\n  if (matchesKeyword(text, usaPoliticsKeywords)) {\n    categories.political.push(article);\n    categorized = true;\n  } else if (matchesKeyword(text, cryptoKeywords)) {\n    categories.crypto.push(article);\n    categorized = true;\n  } else if (matchesKeyword(text, financialKeywords)) {\n    categories.financial.push(article);\n    categorized = true;\n  } else if (matchesKeyword(text, worldKeywords)) {\n    categories.world.push(article);\n    categorized = true;\n  }\n  if (!categorized) categories.world.push(article);\n}\n\nconst selected = {\n  world: categories.world.slice(0, 5),\n  political: categories.political.slice(0, 5),\n  financial: categories.financial.slice(0, 5),\n  crypto: categories.crypto.slice(0, 5)\n};\n\n// Build prompt with context for meaningful summaries\nlet promptText = 'You are a news editor. For each headline, write a concise one-sentence summary (max 60 chars) that captures the key fact. Be specific and factual.\\n\\n';\nlet articleNum = 1;\nfor (const [cat, arts] of Object.entries(selected)) {\n  if (arts.length > 0) {\n    promptText += `=== ${cat.toUpperCase()} ===\\n`;\n    for (const art of arts) {\n      promptText += `${articleNum}. Headline: ${art.title}\\n`;\n      promptText += `   Context: ${art.description.substring(0, 200)}\\n\\n`;\n      articleNum++;\n    }\n  }\n}\npromptText += 'OUTPUT FORMAT - use exactly this structure, no markdown:\\n';\npromptText += 'WORLD:\\n1. [60-char summary]\\n2. [60-char summary]\\n...\\nPOLITICAL:\\n1. [60-char summary]\\n...\\nFINANCIAL:\\n1. [60-char summary]\\n...\\nCRYPTO:\\n1. [60-char summary]\\n...';\n\nreturn [{ json: { chatInput: promptText } }];"
      },
      "name": "Prepare Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        192
      ],
      "id": "29404ee7-fa22-4595-aecf-1ccfffa46464"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        192
      ],
      "id": "044b3696-97bf-49fe-95fd-0b9cd5a9c681"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        592,
        384
      ],
      "credentials": {
        "ollamaApi": {
          "id": "dCTVfWIVTHlRhGsF",
          "name": "Ollama account"
        }
      },
      "id": "524519da-e393-4bcd-82e9-ff251b2ced13"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst aiOutput = input.output || input.response || input.text || '';\nconst lines = aiOutput.split('\\n');\n\nconst categories = {};\nlet currentCat = null;\n\nfor (const line of lines) {\n  const cleanLine = line.trim();\n  const catMatch = cleanLine.match(/(?:---+\\s*|\\*{0,2})(WORLD|POLITICAL|FINANCIAL|CRYPTO)(?:\\s*---+|\\*{0,2}):?\\s*$/i);\n  if (catMatch) {\n    currentCat = catMatch[1].toUpperCase();\n    categories[currentCat] = [];\n  } else if (currentCat && cleanLine.length > 0) {\n    const sumMatch = cleanLine.match(/^(\\d+)\\.\\s+(.+)$/);\n    if (sumMatch && sumMatch[2].trim().length > 0) {\n      categories[currentCat].push(sumMatch[2].trim());\n    }\n  }\n}\n\n// Build improved message format\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' });\nconst timeStr = now.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true });\n\nlet message = `\ud83d\udcf0 **Daily News Brief**\\n`;\nmessage += `${dateStr} \u2022 ${timeStr} PT\\n`;\nmessage += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\n\nconst catEmojis = { WORLD: '\ud83c\udf0d', POLITICAL: '\ud83c\udfdb\ufe0f', FINANCIAL: '\ud83d\udcb0', CRYPTO: '\u20bf' };\nconst catNames = { WORLD: 'World News', POLITICAL: 'US Politics', FINANCIAL: 'Finance', CRYPTO: 'Crypto' };\n\nlet hasContent = false;\nfor (const [cat, summaries] of Object.entries(categories)) {\n  if (summaries.length > 0) {\n    hasContent = true;\n    message += `\\n${catEmojis[cat] || '\u2022'} **${catNames[cat] || cat}**\\n`;\n    summaries.slice(0, 5).forEach((s, i) => {\n      message += `  ${i + 1}. ${s}\\n`;\n    });\n  }\n}\n\nif (!hasContent) {\n  message += `\\n_No news available at this time._\\n`;\n}\n\nreturn [{ json: { content: message } }];"
      },
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        192
      ],
      "id": "50d6b695-be17-4df6-ba30-55b15c11aa3c"
    },
    {
      "parameters": {
        "resource": "message",
        "sendTo": "channel",
        "guildId": {
          "mode": "id",
          "value": "1204113877139198042"
        },
        "channelId": {
          "mode": "id",
          "value": "1468401952953204849"
        },
        "content": "={{ $json.content }}",
        "options": {}
      },
      "name": "Send Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1040,
        192
      ],
      "credentials": {
        "discordBotApi": {
          "id": "ZDMFOE75AzwAAVO3",
          "name": "Discord Bot account"
        }
      },
      "id": "4aa0fdf6-d78c-4195-b454-fd96720b2990"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        256,
        176
      ],
      "id": "fbe57a41-3ede-4e66-9d0c-b025e444b70e"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        },
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "name": "Schedule - 6AM PDT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        304
      ],
      "id": "2a8f4d41-2973-4c20-82fd-e3ea9b3c7ad0"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch BBC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Investing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BBC": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Investing": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Crypto": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Articles": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Prepare Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - 6AM PDT": {
      "main": [
        [
          {
            "node": "Fetch BBC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Investing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "RkD096H7kDZmEGcP"
  },
  "staticData": {
    "node:Schedule - 6AM PDT": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "pinData": {},
  "versionId": "18677f21-7acc-4367-ae66-d5986f99ec12",
  "triggerCount": 1,
  "updatedAt": "2026-04-04 15:12:38.415",
  "createdAt": "2026-03-15 04:48:12.134"
}